[2015-11-26 02:34] balloob opened #14 "Make discovery more robust"
See https://automic.us/forum/viewtopic.php?f=4&t=17&p=58#p58

[code]

[2015-11-27 18:22] #14 closed, assigned to nobody

[2015-12-11 09:39] pavoni opened #17 "Handle events and subscriptions"
Looks like it might be possible to make WeMo event driven using upnp subscriptions and events.

http://www.hardill.me.uk/wordpress/2015/01/14/wemo-event-notifications/

javascript sample here
https://gist.github.com/hardillb/2fce5fe7643a6f91dc75

I'll try and take a look at this when I have some time.

[2015-12-16 23:56] Kokicha opened #18 "Maker sensor status"
Can you help me to understand how I could use this code to obtain the status (change) of a sensor connected to a Wemo maker?

[2015-12-17 09:35] pavoni commented on #18
To check a single shot status use the code below.

Note '1' means 'not triggered'

You'd need to poll to look for a status change.

[code]

[2015-12-17 21:18] philipbl commented on #17
There seems to be support for this already built in (see [subscribe.py](https://github.com/balloob/pywemo/blob/master/pywemo/subscribe.py)). There is also an example of it in ouimeaux called [watch.py](https://github.com/iancmcc/ouimeaux/blob/feature/examples/ouimeaux/examples/watch.py).

[2015-12-18 21:30] Kokicha commented on #18
Thanks for that.  Works well.   One other question though - I have a 5 Wemo devices with the maker sensor that I want to monitor being 5th in the list (device #4).  I assume this is the order that wemos are found as occasionally the order changes or one device is not found. When this happens it breaks the code as my maker is no longer device #4.

[2015-12-19 23:53] pavoni commented on #18
You can use Python filtering to do this to either seatch by name, or class. For example:-

[code]

[2015-12-20 09:14] Kokicha commented on #18
Thanks very much. My Python skills are limited but that's working very reliably for me now. Excellent!

[2015-12-20 09:14] #18 closed, assigned to nobody

[2015-12-25 17:55] #17 closed, assigned to nobody

[2015-12-29 20:57] pavoni opened #20 "Exception can kill subscription"
[code]

[2015-12-31 08:50] pavoni commented on #20
Added retry on subscription errors.

[2015-12-31 08:50] #20 closed, assigned to nobody

[2016-01-02 17:11] pavoni opened #22 "Update resubscribe exception logic to use reconnect_with_device"
Looks like subscriptions work well enough to use instead of polling.

However current resubscribe logic doesn't handle port and IP address changes that are in reconnect_with_device.

So update it to do so - and then clients like HA can stop using polling.

[2016-01-05 17:31] pavoni opened #23 "Some users find device discovery doesn't work"
A known issue that SSDP discovery doesn't work across subnets - so this could be the issue.

Also perhaps related to http://community.wemothat.com/t5/WEMO-Hardware/UPnP-implementation-incorrect/td-p/13698

Some ideas about using a belkin specific scan here:-
https://objectpartners.com/2014/03/25/a-groovy-time-with-upnp-and-wemo/

and here
http://mattenoble.com/2013/08/07/wemo-hacking/

Just collec

[2016-01-08 15:40] #22 closed, assigned to nobody

[2016-01-18 11:29] pavoni commented on #23
Good suggestion from @InsidersByte to just document in the README.

[2016-01-18 11:30] pavoni opened #25 "Optimistic switch state setting"
Not sure if this is as pywemo or HA issue - but state doesn't change in HA until the subscription update arrives. Should change when you set the device state - and refresh when the update arrives.

[2016-01-18 12:37] pavoni opened #26 "Could reduce discovery traffic by looking for more specific services"
May improve discovery relibility - with fewer devices.
`urn:Belkin:service:basicevent:1`

[2016-01-28 08:48] pavoni opened #27 "Revise retry logic"
If we fail to talk to a device, we try to rediscover.

In my network discovery isn't all that reliable - so have seen a case where rediscovery can fail - but just calling the device from another thread worked fine.

So perhaps retry anyway even if rediscovery fails.

[2016-02-03 20:01] #27 closed, assigned to nobody

[2016-02-03 23:29] pavoni commented on #25
Not convinced this is really an issue - sees fast - and is safe. Close for now.

[2016-02-03 23:29] #25 closed, assigned to nobody

[2016-02-03 23:41] pavoni commented on #26
not a good idea - firmware updates have broken this before - current code is well tested!

[2016-02-03 23:41] #26 closed, assigned to nobody

[2016-02-16 08:10] ryanlaux opened #31 "Support for Wemo motion"
Looking to integrate my wemo motion sensor into my Home Assistant config. The sensor shows up as a switch, but I can't seem to be able to get any on or off state info from it. Does this library support wemo motion? Supposedly ouimeaux supports a get_state line for the sensors

[2016-02-16 12:58] pavoni commented on #31
I think we have the ouimeaux Motion code integrated (looks like a place holder really), but I suspect that the motion state isn't returned in the switch state, so probably neither library works at this point.

Probably needs a developer with a Motion and a debugger to take a look at the attributes returned. Will likely be similar to Maker or Insight.

Afraid I don't have a Motion - so need a contr

[2016-02-16 13:08] pavoni commented on #23
Contribution from @kk7ds that allows device IPs to be configured.

Will add some docs and then close.

[2016-02-16 21:49] ryanlaux commented on #31
I've opened an issue under this project: https://github.com/thelegendofando/WeMoService/issues

Seems like this guy was able to make a py script to get it working? If I can strip it down to just an http rest command it would probably be useful

[2016-02-16 22:27] pavoni commented on #31
The state we want is likely already available from `self.basicevent.GetBinaryState()` or perhaps `self.deviceevent.GetAttributes()`.

It may even be that the get_state function in `Device` already does the right thing - in which case it already works and just needs to be wired into HA.

If you want to try - load up pywemo as shown here https://github.com/pavoni/pywemo and discover your devices as

[2016-02-16 22:30] ryanlaux commented on #31
I'll give that a shot when I get back home, thanks

On Tuesday, February 16, 2016, Greg Dowling notifications@github.com
wrote:

[2016-02-17 00:42] ryanlaux commented on #31
Okay got it working with the example provided.. sorry I don't have a lot of coding experience, learning along the way haha. When I ran the script I got a list of my devices:

`pi@raspberrypi:~ $ python Wemo.py device[0]
/home/pi/pywemo/ssdp.py:142: FutureWarning: The behavior of this method will change in future versions.  Use specific 'len(elem)' or 'elem is not None' test instead.
  if tree:
[<W

[2016-02-17 00:49] ryanlaux commented on #31
Okay I figured it out! It works and it returned a 1 when I triggered then reverted to 0 when it reset!

[2016-02-17 02:13] ryanlaux commented on #31
Also tested with a python script to print when triggered, and I'm getting it to change when streaming device status. Look like it should work

[2016-02-17 08:37] pavoni commented on #31
Cool - thanks. Will take a look at the HA code. Closing this issues - since it's already supported here.

[2016-02-17 08:37] #31 closed, assigned to nobody

[2016-02-22 21:07] jaharkes opened #33 "wemo link improvements"
Although light support is mostly working, some things were bothering me. For instance when setting the state to turn a light off, the dim value has to be set to 0 as well otherwise the bulb turns off for a fraction of a second and then goes back to the dimmed value (mostly noticeable in peripheral vision).

Also wemo supports fading (transitions) and when paired with some (non-wemo) bulbs and/or l

[2016-03-07 17:52] jaharkes commented on #33
I picked up an Osram/Sylvania full color, tunable white bulb last weekend and have been poking at it with pywemo.

First of all, the bulb turns out to be not "WeMo Certified", but does pair with the WeMo Link Zigbee bridge device. The android app does not handle things well though, it sits endlessly spinning waiting for the pairing to complete and becomes unresponsive. After killing and restarting

[2016-03-17 16:28] #33 closed, assigned to nobody

[2016-03-29 05:10] gitaaronc commented on #23
I had the same trouble..Here is the solution..At least for me.
Update ssdp.py after line 218
and before
        sock.sendto(ssdp_request, ssdp_target)
add this
        sock.bind(('192.168.4.134', 8012))

Replace the ip address in bind. A function could be added to get the interface IP address.

Would be happy to provide a fix if you are to busy.

[2016-03-29 06:06] gitaaronc commented on #23
proposal is here now: https://github.com/gitaaronc/pywemo

[2016-03-29 09:20] pavoni commented on #23
I'd guess that you have a wemo at 192.168.4.134, so I've added a description of how to use a known ip address to the readme https://github.com/pavoni/pywemo/blob/master/README.md.

Can you check if that works for you?

[2016-03-29 12:49] gitaaronc commented on #23
Hi Greg,

The issue is with the SSDP broadcast and discovery of devices not controlling a device by known IP address.

The IP address of 192.168.4.134 is the IP address of the HomeAssistant server.
Adding socket.bind((‘192.168.4.134’, 0)) to
pywemo/ssdp.py scan function solves the problem.
Multicast/Broadcast will not work if the socket is not bound to an IP address.
My repo has the updated code r

[2016-03-29 17:57] jaharkes commented on #23
SSDP discovery is working for me without your changes so there must be something else different about your environment.
- Do you have a firewall that is blocking UDP packets?
- How many network interfaces does your machine have.

Your code will send a discovery for each ip address associated with the local machine and then wait for a full timeout for each one. If this really is a multiple network

[2016-03-29 18:01] gitaaronc commented on #23
It should only use the first interface. I have nothing blocking requests. Running in a Windows 10 environment.  I haven't tried it on Linux yet, maybe tonight.

[2016-03-29 18:03] kk7ds commented on #23
Yeah, I don't understand why the changes have any effect. Locally I see no difference between the existing and changed discovery process. Equally unreliable.

FWIW, I have multiple interfaces and "the first one" wouldn't be sufficient. I control the discovery process out the proper nic right now by making sure I have a proper route out the one that packets need to go to. That's the right way to se

[2016-03-29 18:13] gitaaronc commented on #23
Could you try it?

[2016-03-29 18:18] jaharkes commented on #23
Trying to figure out if this is a local problem or a problem with how getaddrinfo is used here.
Also you can pass address family as the third argument and not have the extra test in the loop.

[code]

[2016-03-29 18:32] jaharkes commented on #23
What do you get when you run this from the python command prompt? Because I think the result I get here is the proper address to bind to. When I do not specify the AI_PASSIVE i just get the address of the loopback interface because in that case it returns the address to use for `connect()` and `sendto()` instead of `bind()`.

[code]

To summarize my findings of the use of socket.getaddrinfo
- It l

[2016-03-29 18:59] jaharkes commented on #23
When I edit a comment, does it send out a new email, or is the edit only visible when someone looks at the issue on the github website?

[2016-03-29 19:00] gitaaronc commented on #23
It sends a new email. This is a direct reply. I think.
Aaron

Sent from my Samsung device

-------- Original message --------
From: Jan Harkes notifications@github.com
Date: 03-29-2016  11:59 AM  (GMT-08:00)
To: pavoni/pywemo pywemo@noreply.github.com
Cc: gitaaronc aaronc@shaw.ca
Subject: Re: [pavoni/pywemo] Some users find device discovery doesn't work (#23)

When I edit a comment, does it send o

[2016-03-29 19:14] jaharkes commented on #23
On Tue, Mar 29, 2016 at 12:00:56PM -0700, gitaaronc wrote:

I'm guessing you may not have seen the actual edited comment because the
one you replied to was a new one.

I wonder if this much smaller patch fixes your discovery issue.

[code]

[2016-03-29 23:42] gitaaronc commented on #23
I tried the above code, it didn't work. No devices were discovered.
I use wireshark to sniff my network, the broadcast packet is not sent.
The only way broadcast packets are sent on my machine, running Windows 10 64 bit are by binding to an address, either manually setting it or by iterating through the ethernet adapters and addresses and programmatically setting the address used in the bind opera

[2016-03-30 16:40] jaharkes commented on #23
Did you get an assertion, because it should have been `sock.bind(('', 0))` instead of what I had written in my patch.

[2016-03-30 17:40] jaharkes commented on #23
@gitaaronc could you try PR #43.

It is trying to bind to interface addresses in a cross platform way by using the netifaces module to get a list of all interfaces and their associated addresses and then choosing the ones that have a declared broadcast address as potential candidates for discovery requests.

[2016-03-31 17:26] pavoni commented on #23
Now we've merged @jaharkes fix - and added the docs about how to work with devices where discovery doesn't work - I'm going to close this.

[2016-03-31 17:26] #23 closed, assigned to nobody

[2016-05-17 05:52] sisensee opened #45 "Trying to use as a command line interface for Fauxmo."
Would like to use this to control Fauxmo devices (raspberry pi). Fauxmo has limited setup.xml natively.
Wrote GPIO handler for Fauxmo ([https://github.com/n8henrie/fauxmo](https://github.com/n8henrie/fauxmo)) to control GPIO via Amazon echo, also want to have physical button to turn on/off. Tried to modify Fauxmo protocol to present full Wemo setup.xml but getting time out error. Is it possible to

[2016-05-18 09:22] pavoni commented on #45
Would suggest you avoid ssdp discovery (if you aren't already) as described here
https://github.com/pavoni/pywemo#if-discovery-doesnt-work-on-your-network

Can you post the detailed timeout you're getting - may give some clues as to what isn't working.

[2016-05-18 14:26] sisensee commented on #45
Unfortunately even the method you mentioned isn't working for me. Here is the output. I had to modify the commands a little as well.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/requests/packages/urllib3/connectionpool.py", line 378, in _make_request
    httplib_response = conn.getresponse()

[2016-05-19 13:35] pavoni commented on #45
So it looks like Fauxmo isn't responding to `pywemo.ouimeaux_device.probe_wemo(address)` like a real WeMo which isn't really a surprise.

From a quick look at Fauxmo - you configure the port - so just use the same port as you configured into Fauxmo.

So try `port = xxx`(where xxx is your Fauxmo port) instead of using probe.

[2016-05-19 23:36] sisensee commented on #45
Specifying the port does give me a different error:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/requests/packages/urllib3/connectionpool.py", line 378, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.4/http/client.py", line 1172, in getresponse
    respons

[2016-05-20 10:17] pavoni commented on #45
My guess is the URL being created [here](https://github.com/pavoni/pywemo/blob/master/pywemo/ouimeaux_device/api/service.py#L80) isn't correct - and is then timing out. You could trace it which might give you some clues as to what is wrong with service.xml.

[2016-05-28 03:20] retrostrobe opened #46 "Discovery results in UnicodeDecodeError"
Hi there,
I'm on a RPi3 and using the latest dev version of PyWeMo. This may be a known error, but I couldn't find a reference to it and would like to highlight the following issue when I try to discover devices using the Python command-line. Adding devices manually works.

The only change I've done, as per #23, is to edit the default IP address in ssdp.py to replace it with the localhost one, whi

[2016-06-01 13:13] jaharkes commented on #46
Looks like we should probably try to decode the response as UTF-8 instead of ascii.

[2016-06-02 08:38] #46 closed, assigned to nobody

[2016-06-03 02:00] retrostrobe commented on #46
Unfortunately, I'm getting the same error. Now, the weird thing is that I have managed to make it work once or twice. I haven't changed anything, sometimes it works, but most often it doesn't. Don't sweat over this bug though, I've decided to use static IPs instead since it works.

[2016-06-21 15:49] brownad opened #48 "Cannot install on synology NAS"
Hi,

I have tried to install this dependency on Synology via home assistant installation but fails as it needs to compile is there a way to deploy this?

[2016-06-22 07:39] pavoni commented on #48
Can you install / use pywemo standalone on Synology (as described in the read.me)? May help track down the issue.

[2016-06-22 19:02] brownad commented on #48
Think it's with netifaces here's the output

ash-4.3# python3 -m pip install pywemo==0.4.3
Collecting pywemo==0.4.3
  Downloading pywemo-0.4.3-py2.py3-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): requests>=2.0 in /volume1/@appstore/py3k/usr/local/lib/python3.5/site-packages (from pywemo==0.4.3)
Requirement already satisfied (use --upgrade to upgrade): six>=1.10.0 in /volu

[2016-06-22 22:04] pavoni commented on #48
Looks like there may be some advice here https://forum.synology.com/enu/viewtopic.php?t=81

[2016-06-22 22:09] pavoni commented on #45
I'm going to close this - not really something I can support.

[2016-06-22 22:09] #45 closed, assigned to nobody

[2016-06-27 16:56] #48 closed, assigned to nobody

[2016-08-13 02:03] heyrufus opened #50 "__init__py"
I believe the 1st port number is incorrect
PROBE_PORTS = (45152, 49153, 49154)

shouldn't it be 49152   (and not 45152)

[2016-08-14 11:44] pavoni commented on #50
Amazing we missed that - thanks!

[2016-08-14 11:49] pavoni opened #51 "Incompatible with requests 2.11.0"
Timeout header needs to be a string, not an int.

https://pypi.python.org/pypi/requests/

[code]

Causes https://github.com/home-assistant/home-assistant/issues/2793

[2016-08-14 11:52] #50 closed, assigned to nobody

[2016-08-14 11:52] #51 closed, assigned to nobody

[2016-12-20 18:54] nar00n opened #56 "pywemo.subscribe: Received event for unregistered device"
pywemo.subscribe: Received event for unregistered device

The issue happens when i use hostname instead of the ip address , once the hostname is changed to ip address it works.

[2016-12-28 07:11] kylejohnson opened #57 "Unable to probe socket"
I have a WeMo socket device that is being probed, but that, due to
https://github.com/pavoni/pywemo/blob/a43cbd1715476ad8854858c2e04966eb040c123e/pywemo/ouimeaux_device/__init__.py#L31, is not able to be used.  Specifically, there is no `<firmwareVersion>` tag reported by the socket device, where-as it is reported by light switches.

If I remove L31 and then un-indent L32, the probe works just fin

[2016-12-28 14:46] kk7ds commented on #57
If we remove that line then we will discover any http interface on that port as a wemo. Maybe we could check for something else (possibly in addition to WeMo)? Maybe parse the xml and check for a few keys?

[2016-12-28 16:36] jaharkes commented on #57
Maybe check if manufacturer starts with Belkin? As far as I've seen that seems to be even for non Belkin devices. I believe the humidifier is sold in the US as Holmes and I'm guessing this must be that humidifier.

As an aside, I wonder if the humidifier exposes a humidity sensor value in the responses somehow.

[2016-12-28 16:51] kylejohnson commented on #57
It is indeed odd that they wouldn't have a `firmwareVersion` tag exported on the socket, but that they do export it on the switch.  I agree that /something/ should be checked for.  Perhaps the `modelDescription` would be best?  It describes the manufacturer, as well as the model.

.100 and .102 are both light switches, and .103 is the socket.
[code]

[2016-12-30 10:59] pavoni commented on #57
Good thoughts. I think @kk7ds's suggestion of parsing the XML is the best option.

But as a quick fix I imagine checking for `Wemo` or `Belkin` in the text would do the trick (and prevent something we don't understand causing trouble).

[2017-01-02 15:11] pavoni commented on #56
Yes - if you use discovery this will take care of itself.

If you use the probe approach then you need to use ip addresses as show in the examples.

This is because we check look up where the subscriptions came from based on the senders IP address. I'll make this clearer in the documentation.

[2017-01-02 15:11] #56 closed, assigned to nobody

[2017-01-02 15:15] pavoni commented on #57
Or you could look to `Belkin` and `Humidifier` as well as `weMo`. PR welcome!

[2017-01-10 03:51] kylejohnson commented on #57
I'm going to submit a PR to look for `Belkin`.  Do any of you have other Belkin devices to test with?  I have only the two types of switches / sockets.

[2017-01-10 10:31] pavoni commented on #57
I have some insight sockets, switch sockets and some makers. I don't have lights or motion sensors.

Probably best to keep the 'WeMo' test - and add another. That way all the existing devices will work as they do now - and any bugs will involve finding new devices that we didn't expect.

[2017-01-11 20:01] #57 closed, assigned to nobody

[2017-01-27 16:52] dlamkins opened #61 "Wemo Light Switch Long Press"
I could be wrong, but based on my understanding of the eventservice.xml file hosted by the WeMo lightswitches, it looks like the WeMo Light Switches now support the long press event via UPnP. My switches are running firmware version "WeMo_WW_2.00.10937.PVT-OWRT-LS" which I got on Jan 25, 2017. Here is my eventservice.xml contents:

[http://pastebin.com/zJgesnAc](http://pastebin.com/zJgesnAc)

I've

[2017-01-27 17:33] pavoni commented on #61
Pull requests welcome.

Afraid I don't have a Light Switch myself - so not much I can do.

[2017-02-11 06:33] markadr opened #62 "Issues discovering a WeMo Link with firmware WeMo_WW_2.00.10937.PVT-OWRT-Lin"
The following was seen during the startup of Home Assistant v0.37.1 which is using v0.4.11 of pywemo against a WeMo Link with firmware WeMo_WW_2.00.10937.PVT-OWRT-Link

[code]

[2017-02-11 06:39] markadr commented on #62
A working local fix provided via PR https://github.com/pavoni/pywemo/pull/63

[2017-02-12 16:10] pavoni commented on #62
Released in 0.4.12. Thanks.

[2017-02-12 16:10] #62 closed, assigned to nobody

[2017-02-14 11:31] deftdawg opened #64 "Troubleshooting insightparams subscriptions for Home Assistant"
I'm not really a python guy, but I'm trying to troubleshoot why Home Assistant's Wemo switch component does not seem to be receiving insightparam update events (https://github.com/home-assistant/home-assistant/issues/3506)...

It is able to get insightparams when the device is first discovered when home assistant starts.

I was able to validate that the Wemo Insight is working by testing against t

[2017-02-14 11:41] pavoni commented on #64
This sounds a bit like this issue
https://github.com/home-assistant/home-assistant/issues/3506

I suspect the the wemo device only triggers a callback when something `significant` happens - such as a device turning on / off - or power useage crossing the threshold.

I have a coffee machine that I detect a power useage change when the thermostat triggers (and the power useage crosses the threshold)

[2017-02-14 12:11] deftdawg commented on #64
You should run the nodejs program above and see if you get anything after discovery, it's early enough for a second cup. ;)

I suspect the threshold value is a cosmetic thing for users to look at the app and see if something is on (vs. phantom/standby load).  In my set-up, I'm always over (14W) the threshold (8W)...  Since node can see the events coming every sec, I would expect HASS to see them t

[2017-02-14 13:16] pavoni commented on #64
Afraid I'm not in the same place as my Insight, so can't try right now.

It was a while back that I tested - but I think the threshold is used to trigger an event - try and change it to over 14 and see what happens.

As well as the actual power usage - the wemo reports a `standby` state depending on the threshold.

[2017-02-14 14:35] pavoni commented on #64
Looking quickly at the node code - it may be subscribting to another service (not just basicevent).

https://github.com/pavoni/pywemo/blob/master/pywemo/subscribe.py#L113

https://github.com/timonreinhard/wemo-client/blob/master/client.js#L47

[2017-02-14 21:16] deftdawg commented on #64
Yeah I noticed the .basicevent.serviceURL line there, but couldn't find a source...  it finally dawned on me (after some sleep) that it might be a reflection, and sure enough it was...

Anyway, I've hacked the subscribe.py to give the 'insight' subscription priority over 'basicevent' when 'insight' service is present.   With that change I'm getting insight updates every second in Home Assistant.

[2017-02-18 17:19] pavoni opened #67 "Change subscriptions to update cached params"
When using subscriptions it would be good to use the data in the subscription callbacks - rather than force the client to refetch the data.

Particularly useful now insight params are updated every second for an active device.

@jumpkick's recent PR points the direction in adding the insight subscription.

I suspect this means we'll want to subscribe to multiple events types for devices that suppo

[2017-02-18 17:36] pavoni commented on #64
Released in 0.3.13. Thanks!

[2017-02-18 17:36] #64 closed, assigned to nobody

[2017-03-07 08:29] deftdawg opened #68 "_x might be average watts"
The value `_x` @ https://github.com/pavoni/pywemo/blob/master/pywemo/ouimeaux_device/insight.py#L21 is documented as being Average Power in Watts here: https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.wemo/src/main/java/org/openhab/binding/wemo/internal/WemoBinding.java#L200

For me the app lists my average power as being 72w, and this value is only 61, so

[2017-03-07 22:13] deftdawg commented on #68
Watching TV today, _x is 147w, app reports 131-158W instant power...

Definitely does appear to be pretty close to Average Wattage to me

Prior to starting, I did a firmware update about 10 hours earlier, the value was 0 after that until I turned on the TV (outlet was in standby because of Apple TV drawing ~4w (less than the 8w standby threshold power)).

[2017-03-26 12:51] pavoni commented on #68
I have 2 insights. One has a `Avg when on`  in the app of 42w - and the `_x` parameter is 42.
Sadly the other has an `Avg when on` in the app of 995W - and the `_x` parameter is 381.

So we need to do some more digging...

[2017-03-26 13:03] pavoni commented on #68
In case anyone else wants to play - the data from my devices
[code]
and
[code]

[2017-03-27 12:11] jaharkes commented on #68
I seem to get the right values when I divide 'total milliwatt / minute' by 'ontotal seconds'. i.e.

    (25323740 / 1000.) / (35715 / 60.) = 42.543...
    (146574354 / 1000.) / (8832 / 60.) = 995.749...

[2017-03-27 13:03] pavoni commented on #68
Which is great (and perhaps a calculation we should do) - but doesn't explain what `_x` means.

[2017-04-07 10:24] TaylorTWBrown commented on #61
If I donate a switch, can you build it? :D

[2017-04-07 11:10] pavoni commented on #61
Afraid I'm based in the UK - and wemo don't support / supply the bridges or light switches here.

Don't know if @jaharkes would be open to help.

[2017-05-13 15:16] jwkicklighter commented on #61
@pavoni I'm taking a look at this, but having trouble following how this library works. In `subscribe.py`, I see nothing that limits the type of events that are listened to. In theory, if the Wemo Switch is sending long press events shouldn't the logger catch that the event was received?

[2017-05-13 16:55] pavoni commented on #61
@jwkicklighter it's easy to miss - take a look here:-
https://github.com/pavoni/pywemo/blob/master/pywemo/subscribe.py#L113

You can see the subscription to the `basicevent` service - and the commented out subscription to the `insightevent` service. The current code doesn't handle multiple subscriptions for a single device - hence commenting out the second subscription.

The HA wrapper refreshes t

[2017-05-14 22:59] jwkicklighter commented on #61
@pavoni Ah, seems more complex than what I first pictured. Thanks for the explanation though. I'll try to take another look soon, would love to get this added to the library (and eventually Home Assistant).

[2017-06-05 00:47] SaunterinRoo commented on #61
Hello there,

I was able to find this discussion via the Home Assistant community forums. I was hoping to add to this, I recently added the new Wemo Dimmer wall switch to my setup. Of course being a brand new piece of hardware there is not yet support for it. Since this sort of development is way above my head, I was hoping to just start a discussion here about it, to see if that would be a possib

[2017-06-05 16:01] pavoni commented on #61
@sircoolkeen The wemo api is basically undocumented - so the only way to get support is for a developer who has one of the devices to do some digging.

The good news is that the basic framework that talks to the devices and creates the apis it claims to support is already there - so it's not that difficult to add something (I got started trying to add support for the Wemo Maker which half worked).

[2017-06-05 16:05] pavoni commented on #61
BTW - if the project this was forked from adds support it should be pretty easy to port it across (https://github.com/iancmcc/ouimeaux/issues/156)

[2017-06-22 18:07] ausil opened #76 "devices with multiple switches on different ports not handled"
the probe_wemo function seems to have an assumption that a ip can only ever have a single devices and listening port.

I have some devices that has 8 switched ports it is emulating a wemo device. it is listening on ports 49153-49159. homeassistant is using pywemo in part of the discovery. currently it only finds a single switch for each device. I think I almost have a patch ready to be submitted.

[2017-06-22 18:30] SaunterinRoo opened #77 "Adding support for Wemo Dimmer Switch"
I found this project.. Would it be possible to port this into pywemo?

https://github.com/eclipse/smarthome/issues/3632

Thanks!
Keenan

[2017-06-22 18:35] SaunterinRoo commented on #77
What my ultimate goal is, is to see this dimmer switch work with home assistant.

[2017-07-16 19:41] jwkicklighter commented on #61
@sircoolkeen You should also search for an issue related to the dimmer and/or make a new issue just to make sure that's documented.

@pavoni As far as getting the long press to work, I haven't had much luck trying to figure out the library and reverse engineer actually detecting the long press. Tried sniffing around with Wireshark, but didn't really get anywhere.

[2017-07-16 23:36] SaunterinRoo commented on #61
@jwkicklighter Yup, I created an issue regarding adding support for the dimmer. After exhaustive searches I did find this.. eclipse/smarthome#3632

I'm not sure if this project could be ported across?

Thanks,
Keenan

[2017-07-17 18:49] sirago commented on #77
I support this issue.

[2017-07-20 12:36] stew2000 commented on #77
Very impressed with the new wemo dimmers and looking forward to this integration as well!

[2017-07-31 22:43] lolento opened #79 "Issue with Wemo Switch Mini"
Hello,

I'm consistently getting this error in Home Assistant with a Wemo Mini Switch:

2017-07-31 15:40:15 ERROR (MainThread) [homeassistant.setup] Error during setup of component wemo
Traceback (most recent call last):
  File "C:\Users\Hilman\AppData\Local\Programs\Python\Python35-32\lib\site-packages\urllib3\response.py", line 302, in _error_catcher
    yield
  File "C:\Users\Hilman\AppData\Loc

[2017-08-01 17:40] pavoni commented on #79
It looks like it's having trouble talking to one of your devices (I think 192.160.2.160).

Worth making sure you have the latest firmware (update via the wemo app).

Also worth trying to power off and on the switch.

Afraid I don't have a wemo mini switch - so I'm not 100% whether the code works with it.

[2017-08-01 17:43] lolento commented on #79
Hey Greg,

Yes, thanks for the quick reply.  Yes, the Wemo Mini is on the latest firmware.

Usually, unplugging and replugging the switch helps but not always....  Simply powering off and on does not.

________________________________
From: Greg Dowling <notifications@github.com>
Sent: Tuesday, August 1, 2017 10:40 AM
To: pavoni/pywemo
Cc: lolento; Author
Subject: Re: [pavoni/pywemo] Issue with We

[2017-08-10 22:47] lolento commented on #79
Hi Greg,

Keep playing with the Wemo Mini, it looks like in general it takes a long time for the Mini to respond back with the setup.xml.

My insight switches responds pretty quickly.

Is there a set time-out you're using?

[2017-08-14 10:46] pavoni commented on #79
Code I inherited rather than wrote - but it's here.
https://github.com/pavoni/pywemo/blob/master/pywemo/ssdp.py

Have never investigated in detail.

You can code the IP address manually to see of that works.
 See https://github.com/pavoni/pywemo - `If discovery doesn't work on your network`

[2017-09-02 05:38] exxamalte opened #80 "Probe additional ports"
I own a WeMo Insight switch, running firmware 'WeMo_WW_2.00.10966.PVT-OWRT-Insight'. It appears in the WeMo app just fine, but Home Assistant cannot find the switch. The switch listens on port `49155` at the moment (i.e. the following URL provides a result: http://<ip>:49155/setup.xml).

The [pywemo library currently probes](https://github.com/pavoni/pywemo/blob/master/pywemo/ouimeaux_device/__ini

[2017-09-03 10:20] #80 closed, assigned to nobody

[2017-09-16 09:13] pauldogg commented on #77
I too would love to see the wemo dimmer work with home assistant. I bought 4, let me know if can help with testing...
Thanks

[2017-09-16 09:40] pavoni commented on #77
The wemo api is undocumented - so it will need a developer who has a dimmer to add and test it.

With what we already have (and the link above) it shouldn't be too hard - as long as you have the device!

Happy to help.

[2017-09-16 16:50] SaunterinRoo commented on #77
I'd also like to add I have the device and would be more than happy to do testing.

-Keenan

[2017-10-02 18:08] alanmimms opened #82 "SSDP discovery fails if string is not valid UTF-8"
Some device in my network has an SSDP response that blows up `ssdp.py` discovery `sock.recv().decode("utf-8")` with `UnicodeDecodeError: 'utf-8' codec can't decode byte 0x90 in position 5: invalid start byte`. Since I cannot control all devices and since this is really a robustness issue, I tried replacing the bad UTF-8 with the default replacement by changing the code to
[code]
This solves my pro

[2017-10-18 22:49] angel12 commented on #77
I have currently gotten basic functionality, as in, pywemo now discovers my dimmer. I will try to work some tonight on adding controls, if I can figure it out!

[2017-10-19 03:32] angel12 commented on #77
I didnt get any time to work on it in depth tonight, but starting poking at the commands. Is anyone familiar with how I can see what commands are available? I guess I just dont know what I am looking for as far as setting the actual config in the dimmer.py file i put in ouimeaux_device, such as the commands to use / send

[2017-10-19 09:19] pavoni commented on #77
Sounds like a great start! When the device is loaded - the code in `api` sets up the functions the device says it supports. So if you load the device in a REPL session - you can use the python inspection functions to poke around.

Take a look at the python functions `dir`, `var` and `keys`. You might even be lucky and get something from `help`

Any wemo device should support `basicevent` but you'l

[2017-10-19 13:23] angel12 commented on #77
Well, seeing as how I am completely and totally new at python, I guess I need to take a little bit more time in learning it ;)

All I did to get it discovered was looked at what changes were made to pywemo for the coffee maker, and imitate those changes. If anyone else is more versed in python, feel free to look at my branch of this project, as I have uploaded my changes to it.

I'll try to get up

[2017-10-19 13:37] pavoni commented on #77
It's easier than I've made it sound.

Your new object will likely have all the functions set up by the discovery process (which is why this is hard to do without owning the device).

`dir(object)` will list the object's properties and methods - and so give you a good idea about what to call. Not in the same place as my wemo hardware - but here is an example with a string.

[code]

The names withou

[2017-10-19 13:56] angel12 commented on #77
so im my case, print(device) when pointed directly to my dimmer, the name is "Living Room". I would replace object in that command with "Living Room" correct?

[code]
I poked around some other peoples code that have a basic command set for the dimmer switch working (openhab2 has a pull request that they are working on that has on/off/dimming working for the most part; https://github.com/eclipse/sm

[2017-10-19 14:03] pavoni commented on #77
try `dir(device).`

From that PR looks like the data is in `basicevent` - so suggest you start with something like the `Switch` logic.

[2017-10-19 14:04] angel12 commented on #77
[code]
Thanks for your help ;) I knew that didn't look right

[2017-10-19 14:13] angel12 commented on #77
So I copied the light switch device file and renamed it to dimmer in my fork, so theoretically I should be able to at least turn the light on / off right? How would I do that from the REPL?

edit: never mind, got it! and it worked!

I am working on getting the dimming functionality fixed up now, and looks like I can get it with preset percentages, now working on getting increments. The big thing I

[2017-10-23 14:36] pavoni commented on #77
Added in 0.4.21 - thanks to @angel12 for the contribution.

[2017-10-23 14:36] #77 closed, assigned to nobody

[2017-10-23 14:42] pavoni commented on #68
Closing this for now since `_x` probably isn't average watts.

[2017-10-23 14:42] #68 closed, assigned to nobody

[2017-10-23 14:44] pavoni commented on #79
@lolento Did you make any progress with this?

[2017-10-23 14:45] pavoni commented on #76
I'm going to close this for now - since this isn't an official wemo device.

Open to a new PR...

[2017-10-23 14:45] #76 closed, assigned to nobody

[2017-10-23 14:45] angel12 commented on #79
I have a wemo switch mini, and have not seen this particular issue, but I have not had it for more than 2 weeks.

[2017-10-24 03:31] lolento commented on #79
Yes, I'm still having issue with the Mini, it's been hit or miss but mostly miss...

@angel12, what is your setup like?

[2017-10-24 04:43] angel12 opened #85 "Issue with Dimmer switch"
Currently, after calling get_brightness on device once, you cannot call it again. This is the error I am getting now:

[code]

[2017-10-24 06:53] pavoni commented on #85
You need to put the assignment inside the if test

[code]

Happy to release if you  an test and send a PR.

Sorry I missed this!

[2017-10-24 15:13] angel12 commented on #85
Hmm, even with those changes I am still getting this error.

[code]

Current get_brightness:
[code]

Edit:
Here it works, kind of:
[code]

[code]

But the get_brightness function didn't pull the new value, which I am assuming has to do with subscription? I had to get the brightness from scratch, since self._brightness already had the value cached

[2017-10-24 15:19] pavoni commented on #85
Looks like you didn't indent the `self._brightness = brightness` line to start at the same column as the expect.

Python is sensitive to indentation - so it's currently executing the assignment even if you didn't drop into the if test (which you don't want).

So you want the code to look like:-

[code]

[2017-10-24 15:33] angel12 commented on #85
Well, I don't know what happened during my tests, but now I am not seeing the brightness updated when I use the app. I have added a new function get_wlevel that does this correctly, but I am not sure if the code I used is how we should be doing it. Here it is:

[code]

Theoretically, if my code is ok, I could just replace wlevel with brightness and remove my original one

[2017-10-24 16:11] pavoni commented on #85
It's because we're now caching the brightness (which is mostly a good thing).

If you want to refresh the state you need to call `device.get_brightness(True)`

It means you can be more controlled about when this happens (which is what the other HA wemo devices do).

You can see an example here https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/switch/wemo.py#L209

[2017-10-25 09:11] #82 closed, assigned to nobody

[2017-10-25 09:26] #85 closed, assigned to nobody

[2017-10-25 09:29] pavoni commented on #79
@lolento discovery can be shaky on some networks (including mine) - I now explicitly list the IP addresses which is much more reliable (details here https://github.com/pavoni/pywemo under `If discovery doesn't work on your network `).

On the basis that it sometimes works I suspect the mini is just like other wemo devices - so I'm going to close this. Happy to re-open as needed.

[2017-10-25 09:29] #79 closed, assigned to nobody

[2017-10-25 16:20] alanmimms commented on #82
Sorry I've been inattentive. I'll try it today if I can squeeze it in. Thanks for fix.

[2017-10-25 16:22] pavoni commented on #82
Thanks @alanmimms - no criticism - I took ages to get to it!

Have merged it as it seemed harmless and I was doing another release.

Terrific if you can check it works OK.

[2017-12-06 07:05] danielfaulknor opened #89 "returned model_name from discovery is not always correct"
Some Motion switches return XML that has "Switch" as the modelName
The UUID should be used to determine the model name.

[2017-12-07 11:51] pavoni commented on #89
If pywemo is creating the correct object we have a few options:-

1.  It would be very easy to add a `model_name` in the `Motion` class to override the base`model_name` method. This could always return `Switch` (or whatever is required). Or call the base function and change sensor to switch - but otherwise just return what it says (might be more future proof).
2. Do the above but always return `Mo

[2017-12-07 13:18] MartinHjelmare commented on #89
My advice would be to at least not add a method or attribute that is specific for home assistant to pywemo. I think keeping the library agnostic to the where it is implemented is a good thing.

If wemo XML returns something, it could be good to keep access to that in some way, so that the original information from the device is not lost.

The next advice would be to let users of the library have a

[2017-12-07 22:43] Coolie1101 opened #90 "Invalid Config for Wemo"
2017-12-07 17:41:46 ERROR (MainThread) [homeassistant.setup] Error during setup of component wemo
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.5/site-packages/urllib3/connectionpool.py", line 387, in _make_request
    six.raise_from(e, None)
  File "<string>", line 2, in raise_from
  File "/srv/homeassistant/lib/python3.5/site-packages/urllib3/connectionpool.py", line

[2017-12-07 22:55] Coolie1101 commented on #90
I uninstalled pywemo and now get the following error after restarting HA.

2017-12-07 17:49:45 ERROR (MainThread) [homeassistant.setup] Error during setup of component wemo
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.5/site-packages/urllib3/connectionpool.py", line 387, in _make_request
    six.raise_from(e, None)
  File "<string>", line 2, in raise_from
  File "/srv/

[2017-12-11 15:44] angel12 commented on #90
@Coolie1101  This looks to be a bug in HASS 59.2; as I just started getting these errors when I upgraded. Have you posted this issue there?

edit: actually, I can't test this theory right now, but you wouldn't happen to have an insight, would you?

[2017-12-11 17:00] angel12 commented on #90
@Coolie1101  what OS are you running HASS on?

[2017-12-11 17:13] Coolie1101 commented on #90
1. Yes issue was posted.
2. No insigt's
3. Hassbian

[2017-12-11 17:15] angel12 commented on #90
What I am seeing right now is when running Ubuntu 17.10, I get these errors, but on ubuntu 17.04 I am not. Really strange.

[2017-12-11 17:26] jimloki commented on #90
As I said on HA forum:

After a power failure today, all my wemo came back!!! (I’m still using hassbian). So I don’t know where the problem is. I previously rebooted the raspberry pi several times with no success…

They are all accessible on port 49153. When it didn’t work, [homeassistant.components.discovery] could find them on port 49153 or 49154

I have this problem since HA version 0.57.3 (and

[2017-12-11 18:53] Coolie1101 commented on #90
Tried resetting the power by turning of the breaker at the electrical panel, but still the same.

[2017-12-11 23:13] Coolie1101 commented on #90
Issue resolved.

Been digging around with the Wemo app and HASS since my last post, un-install and re-installed the app, deleted all devices, re-added all devices, changed WiFi, changed names, added one device at a time while rebooting HASS, but was still unsuccessful.

After a couple hours, I just gave up and decided that I would just rely on the app to control the switches, while adding the devi

[2017-12-12 09:28] jimloki commented on #90
My wemos are already on 2.0010966 firmware version, so I’m not sure it’s the solution

[2017-12-12 19:49] Norien commented on #90
I don't have much to add but I am having the same problem. Just switched my config over from a working Ubuntu 17.04 with home assistant in venv 0.59.2 & 6 working wemo devices to a brand new Ubuntu 17.10 box with fresh home assistant in venv 0.59.2 copied config over.

- All firmwares are up to date
- Tried cutting power to wemo devices for half hour / no go
- all wemo devices work on native app o

[2017-12-19 05:13] angel12 commented on #90
Seems to be a weird hit or miss issue, sometimes it all works fine on the latest ubuntu, sometimes it doesnt. I dont have any time really to dig deeper into it though

[2017-12-22 13:21] johngo7470 opened #91 "still an issue with humidifier?"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pywemo/__init__.py", line 14, in <module>
    from .ouimeaux_device.humidifier import Humidifier
  File "pywemo/ouimeaux_device/humidifier.py", line 44, in <module>
    ('100', 4), # "Always On" mode
TypeError: object() takes no parameters

[2017-12-22 14:31] pavoni commented on #91
I think this is a python 2 vs python3 error.

Most users are running this on Python 3 - so we've probably missed a Python 2 problem.

[2017-12-22 21:14] sqldiablo commented on #91
I'll see if I can reproduce this in python 2.x and get it fixed. I did all of my testing against 3.6.

[2017-12-22 21:23] johngo7470 commented on #91
I spun up python3 (3.5.3) and it complains it can't find the netifaces module - guessing netifaces requires 3.6.  I just tried it in 3.6, and when I tried to import pywemo, it's complaining there's no module 'requests'...

[2017-12-22 21:25] johngo7470 commented on #91
I did an npm install requests, and it indicated that requests@0.2.2 was installed, but python 3.6 can't seem to find it.

[2017-12-22 21:54] pavoni commented on #91
Sounds like JavaScript. Try `pip/pip3 install`?

Or to be exact `pip install -r requirements.txt` to install the libraries required.

Thanks to @sqldiablo for sorting the python2 load.

[2017-12-22 21:55] sqldiablo commented on #91
I was able to reproduce the humidifier issue in Python 2.7 and determined it was an issue with the way I was defining one of the enums. I've resolved it in my fork and will do a PR to bring it over.

[2017-12-22 23:17] johngo7470 commented on #91
'pip3 install requests' yielded 'requirement already satisfied...

In python(2), I do progress past the humidifier issue while building, but now trip on the netifaces, again.

A pip install netifaces, took care of that, and I'm cooking on gas! (able to import/run pywemo)

Thanks for the speedy resolution!
JG

[2017-12-22 23:24] sqldiablo commented on #91
Excellent, I'm glad to hear that the PR fixed the issue for you.

[2017-12-28 21:17] ViViDboarder opened #93 "Unhandled HTTPConnectionPool error"
I noticed this while running Home Assistant with version 0.4.20.

I was seeing the error documented in #90 and started drilling down.
[code]

The strange thing about that log is that it shows that requests is taking the `HTTPConnectionPool` error and raising it again as a `ReadTimeout`. I noted that in `requests`, `ReadTimeout` is a subclass of `requests.exceptions.Timeout` and that this is suppos

[2017-12-28 21:20] ViViDboarder commented on #93
Found a similar error someone had on Stack Exchange: https://stackoverflow.com/questions/46715586/isinstance-unexpectedly-returning-false

[2017-12-28 21:45] ViViDboarder commented on #93
Got something!

Updated my handler to:

[code]

And the result is:

[code]

Despite pointing to the same file through inspect, they are members of different modules!

Still not sure why or how to fix yet.

[2017-12-28 22:05] ViViDboarder commented on #93
I modified the module to import all the errors directly rather than referencing from `requests.exceptions` and it works! However I'm still very confused as to why...

[2017-12-31 11:25] #90 closed, assigned to nobody

[2017-12-31 11:25] #93 closed, assigned to nobody

[2018-01-06 10:01] #91 closed, assigned to nobody

[2018-04-21 23:40] allyunion opened #96 "Python3 not supported"
[In [1]: import pywemo
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-46a436f57ad8> in <module>()
----> 1 import pywemo

/usr/local/lib/python3.5/dist-packages/pywemo/__init__.py in <module>()
      3 """
      4
----> 5 from .ouimeaux_device import Device as WeMoDevice
      6

[2018-04-24 20:23] sharkwheels opened #97 "state query?"
Might be a silly question, but is there a way to query / get the current state of a switch?

[2018-04-25 16:33] pavoni commented on #97
Take a look at https://github.com/pavoni/pywemo/blob/master/pywemo/ouimeaux_device/__init__.py#L168

[2018-05-16 09:20] pavoni commented on #96
This has been a Python 3 library for quite some time.

Suspect something is wrong in your environment - see my Python 3.6.3 import below,
[code]

[2018-05-16 09:20] #96 closed, assigned to nobody

[2018-05-16 09:21] #97 closed, assigned to nobody

[2018-06-15 03:25] ikifar2012 commented on #61
Any progress on adding long press to the Wemo’s pywemo?

[2018-06-17 17:39] pavoni commented on #61
It basically needs a developer who has one to do this, even with an example to copy - you have to have the device to test the code.

If you fancy having a go @ikifar2012 a PR would be very welcome.

[2018-06-17 18:14] ikifar2012 commented on #61
I have many WeMo devices but I am not that experienced in coding but I will be willing to help in any way I can

[2018-06-20 03:05] jwkicklighter commented on #61
I had a look though and tried to do some monitoring on my network, but unfortunately I couldn't figure out how the library works well enough to make any progress 🙁

(I'm also not really a Python dev, which I'm sure is most of my problem).

[2018-07-28 14:54] MacauleyCz opened #101 "Not recognising import netifaces in util.py"
Error message:

Traceback (most recent call last):
  File "script.py", line 1, in <module>
    import pywemo
  File "/home/andromada/pywemo/pywemo/__init__.py", line 16, in <module>
    from .discovery import discover_devices
  File "/home/andromada/pywemo/pywemo/discovery.py", line 6, in <module>
    from . import ssdp
  File "/home/andromada/pywemo/pywemo/ssdp.py", line 14, in <module>
    from

[2018-07-28 14:57] #101 closed, assigned to nobody

[2018-09-15 02:42] jneilliii opened #102 "FutureWarning"
https://github.com/pavoni/pywemo/blob/35d9137e293e33b2328f2cd6d0617979229c83bb/pywemo/ssdp.py#L142

Get warning error at this line....potentially needs to be changed to `if tree is not None:`.

[2018-09-26 21:02] jneilliii opened #103 "Getting error discovering devices"
First and foremost, thanks for a great library.  I have developed an OctoPrint-Plugin around it and one of my users is getting an error.  After further investigation it appears to be a problem with the pywemo discover_devices() call.  This is the error that they are getting.  Any advice as to what might be the root cause of this issue?

[code]

Issue found on my repository over [here](https://gith

[2018-10-01 16:48] pavoni commented on #103
From the link on your repo looks like you've found a workround.

My guess is that some PnP device on your network is returning a description that isn't ascii, which i messing up the discovery code.

Since it probably isn't  a device that you want - you could probably just catch the exception and continue. So just catch the exception around this line.

https://github.com/pavoni/pywemo/blob/master/p

[2018-10-01 19:51] jneilliii commented on #103
Yeah thanks. I switched over to using direct discovery of the device via ip. That seems to have gotten around the issue.

[2018-10-01 19:51] #103 closed, assigned to nobody

[2018-12-15 15:28] meatheadmike opened #112 "SSDP scan uses "ssdp:all" instead of "urn:Belkin:service:basicevent:1""
SSDP scan basically tells every single upnp device on the network to respond. I can't figure out why this is needed. It certainly adds a lot of unwanted network traffic from what I'm seeing on my end (router, chromecasts, harmony devices, etc). From what I can determine all wemo devices respond with "urn:Belkin:service:basicevent:1". So we should be able to narrow this down significantly. If you'r

[2018-12-17 17:39] pavoni commented on #112
If this works it sounds like a win with no disadvantages (and in fact may help with the odd problem where we've not understood the reply from a non wemo device and crashed!).

So a PR would be very welcome.

[2018-12-17 22:32] sqldiablo commented on #112
I'll bake this into my rediscovery fixes and test it along with those changes. I've been annoyed by this as well, so thanks for suggesting the fix for it. :-)

[2018-12-17 22:55] meatheadmike commented on #112
Something else to consider while you're working on the big fix - I did a wireshark packet cap on the SSDP traffic to see what what going on during discovery. It turns out the official app actually sends out 2 separate M-SEARCH requests in fairly quick succession once it opens. This kind of makes sense since it's UDP and thus by definition has no delivery guarantee. In practice pywemo tends to unde

[2018-12-18 03:43] sqldiablo commented on #112
It turns out that the older WeMo devices (like the WeMo switch, the older, more oval-shaped smart plug) don't respond to the URN search (I tried), and instead only respond to a "upnp:rootdevice" search. I can take out the "ssdp:all" search and replace it with the URN search, but pywemo is using the "upnp:rootdevice" search to find devices, and isn't even sending the "ssdp:all" search during normal

[2018-12-18 03:52] sqldiablo commented on #112
I also tried the double scan, but it gave me back duplicate results, which I don't like. I'm going to leave the second scan out of things for now.

[2018-12-18 15:24] meatheadmike commented on #112
Interesting. I'm was able to see my wemo switches (I have 2 of the older style). I did have to replace both "upnp:rootdevice" and "ssdp:all" though. The official app only seems to use "urn:Belkin:service:basicevent:1" from what I was able to see on the packet capture. I'll play around a bit more with it and verify.

As for the 2 separate M-SEARCH requests, I can see where you are coming from there

[2018-12-20 20:38] sqldiablo opened #114 "Rediscovery of devices when IP or port changes is not always consistent"
WeMo devices periodically update their port number and IP address based on DHCP or other network setup and conditions. Pywemo attempts to rediscover devices when this happens, and will often find the device again and allow it to keep working. However, 1) rediscovery doesn't always work, 2) rediscovery almost always fails the 2nd time around for a given device when it changes its IP or port yet aga

[2018-12-20 20:39] sqldiablo commented on #114
I'm actively working on a different approach to handling rediscovery that will just update the existing device object instance, instead of overwriting the entire object instance with another. Once I get that working, I'll take a look at the subscriptions part of the issue.

[2018-12-20 20:44] sqldiablo commented on #114
Pywemo also reports that it has found malformed XML during SSDP discovery due to other devices on the network responding to our discovery requests. I'll be removing the error, as it's not relevant and isn't really an error condition.

[2018-12-23 02:21] sqldiablo commented on #61
Hi, all. I'm taking code ownership of the WeMo platform on Home Assistant, and therefore, I'm working more on pywemo as well. I've picked up a series of the devices for debugging, so I'd be willing to look into this.

Right now, I'm working on an overhaul of the rediscovery process in pywemo, which will take me another week or two due to the holidays and complexity with how rediscovery works. Afte

[2018-12-23 02:24] sqldiablo commented on #89
I've ordered one of these devices so I can work on this issue, but it won't arrive until the end of the month. I'll take a look at this in a couple weeks. (Yes, I realize this is a very old issue and that the devices are discontinued, but I'd still like to get this figured out for folks to use)

[2018-12-23 09:05] pavoni opened #115 "Allow pywemo to subscribe to multiple services"
At present the pywemo subscription code only subscribes to the `basicevent` services.

This updates on the most important events like (on / off) - but doesn't work for everything (eg for wemo insight switches - it doesn't update when the power consumption is changed (unless it also triggers a change in or out of standby - which does trigger a `basicevent`).

For this reason I had to leave polling

[2018-12-23 09:08] pavoni commented on #61
@sqldiablo Have given you access to the repo, great to have some help!

[2018-12-23 09:11] sqldiablo commented on #115
Yeah, I definitely intend to tackle the subscriptions. It's probably second on my list after rediscovery. I've deliberately kept HA don't polling as well as subscription updates because I was setting some inconsistency, especially after a rediscovery. I'd like to get subscriptions working well enough to turn polling off in HA.

[2018-12-23 09:12] sqldiablo commented on #61
Thanks, @pavoni. Happy to help. 🙂

[2018-12-23 09:14] sqldiablo commented on #112
This has been resolved by the merge of #113. Closing the issue.

[2018-12-23 09:14] #112 closed, assigned to nobody

[2018-12-23 09:15] pavoni commented on #115
Perfect - I skimmed your HA updates - but missed you'd kept the polling.

I had a failed attempt to enhance the subscription mechanism a while back which required an HA patch to remove! It ended up spamming wemos with multiple subscriptions until they crashed!

[2018-12-23 09:16] sqldiablo commented on #115
It's sneaky. Polling is the default, so I removed the property from the object in HA, which makes it default to do polling.

[2018-12-23 21:20] TaylorTWBrown commented on #61
This is awesome! Thanks for the update.

[2018-12-30 03:13] sqldiablo commented on #114
@elmigbot, which versions of Home Assistant and PyWemo are you running?

Also, can you capture debug logs for the wemo component, discovery component, and the pywemo module? An example of the logger config for that is below. This will help me better understand what is happening. If you already have the logger configured, then just add the 3 lines below the logs: section, so it'll capture the debug

[2018-12-30 05:05] sqldiablo commented on #89
@danielfaulknor, as far as I can tell, this is already working properly. I'm seeing both the UUID and model name of my motion sensor being returned as Sensor, and is getting mapped to the Motion device type. In Home Assistant, this carries across, and the Motion device type is mapped to a binary_sensor, as expected.

A couple questions:

1. Is your WeMo device running the latest firmware?
2. Are y

[2018-12-30 05:11] sqldiablo commented on #89
Also, the way pywemo maps a device to its device type/class is by the UUID, not by the modelName from the device's setup.xml, so even if the device does report an incorrect modelName, it should still map to a Sensor if the UUID starts with Sensor.

[2018-12-30 05:19] sqldiablo commented on #89
Ok, I'm going to apologize here. I just took another look at the Home Assistant code, and I can see how HA would map to the wrong device when the UUID is Sensor, but the modelName is Switch. It turns out that HA is using the model_name to map devices after all. I'm thinking that we should have HA use the class name for mapping instead of the model name from pywemo's device object. I don't like the

[2018-12-30 23:43] danielfaulknor commented on #89
I fixed my specific issue in this HA PR, after other changes changed how the model is picked up - https://github.com/home-assistant/home-assistant/pull/15627

To answer your questions:

1 - Yes
2 - Yes
3 - Definitely the motion sensor.

As mentioned, my motion sensor returns "Switch" for modelName in the xml but the UUID is correct

[2019-01-01 05:14] sqldiablo commented on #89
Thanks, @danielfaulknor. Just to confirm, this continues to be an issue in HA for you, right? Looking at the code, I would expect HA to identify this device incorrectly. It's a weird course of events that causes it, because pywemo makes the correct motion object based on the UUID, but then HA interrogates the model_name property of that object, sees Switch, and thinks that the Motion object return

[2019-01-01 13:02] #102 closed, assigned to sqldiablo

[2019-01-01 14:00] sqldiablo commented on #61
@pavoni I don't have a direct way to contact you, so I'm doing it on here, as it's semi-related to previous conversation. Would you be willing to set me as a maintainer for this module on pypi? My username on there is the same as here.

[2019-01-01 14:05] sqldiablo opened #119 "Fix Linting Issues"
Fix the plethora of code smell/formatting issues (pylint, flake8, and pydocstyle).

[2019-01-01 14:56] pavoni commented on #61
@sqldiablo have added you.

Thanks again for your interest in helping maintain & improve this.

[2019-01-01 17:39] meatheadmike opened #121 "Disconnecting an insight makes dimmers go haywire"
This is the symptom I'm having. I'm not sure what the root cause is yet though. Over the holidays I had 5 wemo switches set up that I don't normally have connected. 4 were insights and 1 was an old school plugin wemo. One of the insights was in the garage and had a weak wifi signal. So sometimes it wouldn't show up properly in the official app. Anyways, I've been having a weird problem where dimme

[2019-01-03 13:15] sqldiablo commented on #121
Mike, I've got some pywemo and HASS changes queued up that will significantly change rediscovery. Long story short, I'm changing pywemo to let you disable rediscovery, and I'm modifying HASS to do just that and then to handle rediscovery of devices itself. This isn't the long-term solution for pywemo, but I think it'll go a long way to solve the issues in HASS with WeMo devices, and it should buy

[2019-01-03 13:30] #119 closed, assigned to sqldiablo

[2019-01-03 14:19] meatheadmike commented on #121
Sounds good. I'm happy to help test!

[2019-01-03 14:23] sqldiablo commented on #121
PR for pywemo changes is #127.

[2019-01-03 14:25] sqldiablo commented on #114
While I continue to work on this issue in pywemo, I've gone ahead and made some changes in pywemo and in Home Assistant to change Home Assistant to using its own logic for rediscovery and to disable pywemo's rediscovery. A new version of pywemo is needed (in progress), and then I'll PR the changes into Home Assistant.

PR for pywemo changes is #127.

[2019-01-03 17:50] eliotlandrum opened #126 "today_kwh incorrectly calculated?"
I believe that today's kWh is being incorrectly calculated in this function, but wanted to run it by @pavoni before doing a PR.

 https://github.com/pavoni/pywemo/blob/1cae67c15a80cf9806187e9cd0a75ffe7e19b7fa/pywemo/ouimeaux_device/insight.py#L70

I believe it should be more like this:

[code]

[2019-01-03 18:35] pavoni commented on #126
All these things are reverse engineered - so it's a matter of trying to work out what makes sense.

We picked the current calculation up from ouimeaux before we forked.

I guess the way to find out is to leave a device on for a known period - and check how the calculation matches a common sense version.

Would welcome a PR - particularly if you can include the details of your investigation.

Looki

[2019-01-03 18:42] eliotlandrum commented on #126
Ok, good to know. Thinking about grabbing a Kill A Watt to compare with.

[2019-01-04 00:16] sqldiablo commented on #126
@eliotlandrum, please let me know if I can help in any way, although my focus right now is on a pretty big set of changes to make rediscovery better.

[2019-01-04 00:41] sqldiablo commented on #89
@danielfaulknor The change for this has been merged into dev in https://github.com/home-assistant/home-assistant. Can you see if it fixes the issue for you?

[2019-01-04 20:49] eliotlandrum commented on #126
Thanks, @sqldiablo ! I have a Kill A Watt on order, hopefully will have some numbers early next week. :) I'm actively working on a little project that uses this, so would like some good numbers to come out.

[2019-01-04 21:46] jwkicklighter commented on #61
@sqldiablo I was unable to ever make any progress on this, but if you need any testing done feel free to ping me!

[2019-01-09 22:18] eliotlandrum commented on #126
I've been running the Kill A Watt all day on my stereo and the numbers are matching correctly for the existing `today_kwh`, so however it's doing this.. it works already!

[2019-01-09 22:18] #126 closed, assigned to eliotlandrum

[2019-01-27 02:48] #89 closed, assigned to sqldiablo

[2019-01-28 18:07] eliotlandrum opened #133 "pywemo in action!"
This isn't a problem, just wanted to share with you what I'd been working on using pywemo for.

https://devpost.com/software/tokenized-autonomous-vehicle-charging-with-blocklet-1ws73v

There's a video at the top. It doesn't show it, but the Roomba has a Pi inside the vacuum area and there's a Pi for the dock as well (not shown). The Roomba charging dock is actually plugged into a WeMo Insight swit

[2019-01-28 18:18] pavoni commented on #133
Thanks for sharing - very nice demo. Really great to hear the the code is useful for something interesting like that.

I also use the power monitoring of an insight. My espresso coffee machine take 5 mins to warm up - so I monitor the power usage, and run an event when the coffee machine thermostat triggers and the power consumption drops.

So basically a light in my living room turns red when the

[2019-01-28 23:26] #133 closed, assigned to nobody

[2019-01-28 23:27] sqldiablo commented on #133
@eliotlandrum, that's a super cool demo. Thanks for sharing this. :-)

[2019-05-08 00:59] sqldiablo opened #135 "Malformed device XML causes exception during discovery"
This is a repost of https://github.com/home-assistant/home-assistant/issues/23744, as the issue is in pyWeMo and not Home Assistant.

When a device (sometimes a WeMo, and sometimes another device on the network that responds during discovery) returns malformed XML or XML other than the expected response, it causes the pyWeMo library to throw an exception. More details are provided in the linked is

[2019-05-08 16:21] chelming commented on #135
I've been able to reproduce this by renaming a plug. When the plug gets renamed it returns malformed (incomplete) XML until a full power cycle.

[2019-07-09 20:54] ghost opened #139 "device.get_state() continues to report old value when device is toggled via other service"
When calling .get_state() on either of my WeMo Minis, the function returns the correct value if the device was last toggled by my script OR if the script is running for the first time. When the switch is toggled by another service (IFTTT, HomeKit, WeMo app), the value does not update. calling .toggle() resolves the state but does not actually toggle the device if .get_state() was stuck wrong.

[co

[2019-07-09 21:47] pavoni commented on #139
Afraid the documentation is very minimal! Pywemo caches the device state, so you either need to run a subscription to update the state in realtime - or pass  `TRUE` to the functions that get state to force an update from the device.

You can see the code here https://github.com/pavoni/pywemo/blob/master/pywemo/ouimeaux_device/__init__.py#L215

[2019-07-10 00:12] ghost commented on #139
That works perfectly. Thanks!

[2019-07-10 00:12] #139 closed, assigned to pavoni

[2019-07-10 15:25] ghost opened #140 "Error importing when run at boot on raspberry pi"
When testing my script, whether SSH'd in or in the console on the device itself, I encounter no problems. However, when running the script at boot on my pi (I've tried both rc.local and .bashrc), I get this error:

[code]

Could someone let me know what I'm doing wrong? The command I'm running, both manually and automatically, is `sudo python3 /home/pi/IFTTT/wemo2.py`.

[code]

[2019-07-10 15:46] sqldiablo commented on #140
If I had to guess, I'd say this is probably an environment variable/profile issue. Either the user that is running the script doesn't have the right path environment variable set to import python modules, or the environment variables aren't set yet or at all when running the script this way. You may need to import the module directly from a file path instead.

[2019-07-10 16:28] ghost commented on #140
I've changed `import pywemo` to as follows:

[code]

by following instructions at https://stackoverflow.com/questions/67631/how-to-import-a-module-given-the-full-path. It runs fine when run as user still, but now the error I get at boot is:

[code]

[2019-07-11 02:08] sqldiablo commented on #140
Take a look at this, and see if it helps: https://raspberrypi.stackexchange.com/questions/78141/python-script-fails-with-importerror-when-run-from-rc-local

[2019-07-11 15:15] ghost commented on #140
Running `sudo pip3 install pywemo` did it!

[2019-07-11 15:15] #140 closed, assigned to nobody

[2019-11-16 15:38] pavoni opened #141 "Improve subscription shutdown timing"
Can reuse the approach here https://github.com/pavoni/pyvera/pull/120

Thanks to @vangorra for this.

[2019-12-20 07:21] simmyr94 opened #144 "Python noob needs help..How to get instant power?"
Dear developers,

I'm new to python and I'm trying to use the module to get the instant power of my insight switch

here is the code

[code]

error:  'dict' object is not callable

I'm pretty sure I did wrong, but can someone explain to me the right way please?

Thanks a lot.

[2019-12-20 16:50] sqldiablo commented on #144
What output do you get when you just run this?

[code]

[2019-12-21 05:11] simmyr94 commented on #144
Dear Mr. Belebczuk
Thank you for your timely reply.

for
[code]
the output is

[code]

[2019-12-21 11:25] pavoni commented on #144
Sorry for the slow reply `insight_params` is an instance variable, rather than a method. So you can so you can see the info available like this:-
[code]
You can get individual details:-
[code]

The `insight_params` are cached - so to force a refresh use
[code]

[2019-12-22 00:54] simmyr94 commented on #144
That works!

Thank you guys so much. Cannot get this done without Mr. Belebczuk and Mr. Dowling's kindly help.

Here is the code to display real time power usage for future reference.

[code]

[2019-12-22 18:44] #144 closed, assigned to nobody

[2020-01-05 00:55] ikifar2012 commented on #61
Has anyone made any progress on this? I really think it must be possible since IFTTT detects a long press

[2020-01-10 19:08] jwkicklighter commented on #61
IFTTT is much different since it relies on the Wemo servers for its information. The local network traffic probably has the data available, but the ability for a cloud service to work isn't an indication that it's possible to do with a library such as this.

[2020-01-19 01:17] balloob opened #145 "warning printed on newer Python versions"
Printed when using pywemo on Python 3.7:

[code]

[2020-04-19 01:30] balloob commented on #145
Fixed in #117

[2020-04-19 01:30] #145 closed, assigned to nobody

[2020-05-20 02:57] sullivanmj opened #151 "Async API for pywemo?"
Has there ever been any discussion about adding an async API for pywemo? It would be nice to have from a client's perspective. There are several challenges that that would need to be overcome. The two biggest challenges apparent to me are:

- ouimeaux does not have an async API. Of course this could be overcome by modifying the code within this repository, but it could make absorbing any future ch

[2020-05-20 03:23] sqldiablo commented on #151
Hey, if you're willing to develop it, I'm willing to code review the PR. ;-)

I don't think async has been much of a priority for us, mainly because Home Assistant is one of the main consumers of this library (and why it exists in the first place), and it wraps the sync calls to pyWeMo in async routines of its own. Any app using pyWeMo could do the same thing.

Like I said above, we're happy to re

[2020-05-20 03:26] sqldiablo commented on #121
@meatheadmike, is this issue resolved at this point, or is this still happening?

[2020-05-20 03:58] sullivanmj commented on #151
Great! Understood. I agree that would be best for existing consumers of pyWeMo, to not make any breaking changes.

Is there a standing approach to dealing with ouimeaux? For example, is it mostly locked in, as-is, with only highly desirable new features and/or bugfixes being added? Or something else? I'm curious, because that might inform my design a little bit.

[2020-05-20 04:08] sqldiablo commented on #151
The parts of ouimeaux that we use have been stagnant for years in the original repo. I've made a few changes to it in this repo as necessary, so I don't think we're opposed to modifying it. If there ever is a change to the original version that we would want, we'd probably have to port it manually anyway.

[2020-05-20 04:13] sqldiablo commented on #151
Sorry, let me correct myself: we've made extensive changes to the devices in ouimeaux. It's the API within ouimeaux that has only seen minimal changes. With that said, I still don't really have a problem with changing any of it, it would just need to be very thoroughly tested with as many different types of Wemos as possible. I have most of them, and would be willing to help with the testing.

@pa

[2020-05-20 10:48] pavoni commented on #151
Like @sqldiablo I'm very open to this if you'd like to work on it.

The ouimeaux code was forked long ago - and I don't think maintaining compatibility is really important. The substantial work needed to reverse engineer the devices is the most valuable aspect of the ouimeaux code - and if new devices are added it should be pretty straightforward to port any new devices across even if we diverge f

[2020-05-21 01:47] sullivanmj commented on #151
Understood. Thanks for all of your input. It all seems reasonable to me. I'll put extra emphasis on keeping the existing public interface intact. It's good to hear that @sqldiablo has a lot of devices. I only have an Insight and some standard switches (for now :)).

Before I dive into this, I had a couple of questions and a possible concern:

1. Is there any automated test suite or general testing

[2020-05-21 09:13] pavoni commented on #151
Python 2 compatibility used to be a big deal - but I think very few people still depend on it. So personally would be happy to fork the library leaving an older one that supports Python 2. @sqldiablo what do you think?

It would be great to have a proper testing and release regime - but it's quite a bit of work to set up. Would welcome a contribution!

[2020-05-21 16:06] sqldiablo opened #152 "Discussion: Deprecate Python 2 Support"
The purpose of this issue is to discuss deprecating Python 2 support for pyWeMo and the logistics involved in doing so.

From @pavoni:

Python 2 compatibility used to be a big deal - but I think very few people still depend on it. So personally would be happy to fork the library leaving an older one that supports Python 2. @sqldiablo what do you think?

It would be great to have a proper testing a

[2020-05-21 16:07] sqldiablo commented on #151
@pavoni, let's move the python 2 support discussion to #152 and keep this issue for adding async functionality to pyWeMo.

[2020-05-21 16:13] sqldiablo commented on #152
I agree that supporting Python 2 at this point probably shouldn't be a priority.

What do you think of considering it deprecated at this point, and putting a note in the readme about which version will be the last to support Python 2? If folks need a Python 2 version of this module, then they just have to use that version or prior.

I can make a branch to change our CI tests to use Python 3 only a

[2020-05-21 16:16] sqldiablo commented on #152
Ok, so apparently our CI tests are already only running on Python 3.5 (not for Python 2.x at all). I'll add tests for 3.6, 3.7, and 3.8 and see what we get.

[2020-05-22 03:42] sullivanmj commented on #151
I am happy to add automated tests for any new code that I write. My testing experience in python so far, has been with pytest. I plan on using that, unless someone has a preference for some other test framework.

Since the changes required for this issue will break interoperability with python 2, I intend to do this work in a branch off of the deprecate-python-2 branch.

[2020-05-22 05:02] sqldiablo commented on #151
That works for me. We should already be setup for tox/pytest for the most part, we just haven't implemented any tests with it yet. I've been working in the branch you mentioned to get our CI/CD testing process working a little better and to be a little more stringent on the ouimeaux code, which we had been giving a free pass on the tests until now. There are a lot of linting/typing issues with tha

[2020-06-20 12:24] minscof commented on #115
I am interesting by this feature : is there someone working on this ?

[2020-06-20 13:37] pavoni commented on #115
@minscof I don't believe so.

It's quite tricky as it requires an overhaul of the subscription mechanism so that it will support multiple subscriptions (all with their own renewal schedule) in each pywemo object.

Also for most users it isn't too big a deal, the other attributes are available on a background poll - and the on/off (including threshold crossing for the insight switch) are updated in

[2020-06-20 17:24] minscof opened #154 "Improvement wemo insight"
The _x parameter is the wifi signal power, can you add it to the code ?
Thx

[2020-06-20 17:34] sqldiablo commented on #154
You've gone that far, why not submit a pull request for that change? 🙂

[2020-07-02 19:47] sqldiablo commented on #154
This feature has been published to Pypi as pywemo version 0.4.44

[2020-07-02 19:47] #154 closed, assigned to minscof

[2020-07-08 21:11] esev commented on #61
FWIW on my [Light Switch](https://www.belkin.com/us/p/P-WLS040/) (`<firmwareVersion>WeMo_WW_2.00.11451.PVT-OWRT-LIGHTV2</firmwareVersion>`), I also see the same in /eventservice.xml

### /setup.xml
[code]

### /eventservice.xml
[code]

I tested receiving the LongPress event with the following code, but the light switch never sent a notification when the long press was activated. I double checked t

[2020-08-17 17:38] ViViDboarder opened #161 "WeMo setup without account"
This is an enhancement request. I'm hoping that at least for now it may be possible to install an older version of the Android app and figure out _how_ setup is done locally and mimic that.

[2020-08-19 09:05] pavoni commented on #161
What's the concern - did they change the app to require cloud access?

[2020-08-19 22:26] RGSMA opened #162 "Noob Question"
Noob question: On a Wemo Insight, what is the currentpower parameter? Thanks

[2020-08-19 22:53] pavoni commented on #162
It’s the current power consumption of the attached device, in milli-watts.

[2020-08-20 14:00] RGSMA commented on #162
Thanks. I thought so but wasn't aware that my towel warmer was drawing 150 watts.

[2020-08-20 14:00] #162 closed, assigned to nobody

[2020-08-20 15:22] pavoni commented on #162
Those sort of power measurements can be very interesting!

[2020-08-26 23:31] ViViDboarder commented on #161
Yes, the app has been updated such that you cannot connect a WeMo to your wifi unless you create and link it to your cloud account.

[2020-08-30 18:03] pavoni commented on #161
Got it.

Suspect it's quite a bit of work - so will need someone with some time and determination!

[2020-08-30 20:54] ViViDboarder commented on #161
Yea. Non-trivial I imagine. I was originally thinking to just use an MITM proxy to see the communication, but then remembered the setup happens when connected to the WeMo adhoc network. So this may be tricky.

[2020-09-01 19:44] onkelbeh opened #163 "Please file/pin Releases...."
Hi Greg,

I am using your component for [Home Assistant Gentoo Overlay](https://github.com/onkelbeh/HomeAssistantRepository), hope you don't mind.

Therefore I need source files in Pypi's SDIST format, or Github archives.
The source files on Pypi contain some code with outrageous paths, and no setup.py,
and: you do not file releases on Github.

At least, your release list on Github should look lik

[2020-09-03 21:19] onkelbeh commented on #163
Aehm, just saw `pyvera` is also from here, why don't you just do it like you do it in `pyvera`?

[2020-09-03 21:48] pavoni commented on #163
It was kindly set up and contributed by someone who knows more about releasing than I do!

[2020-09-03 21:53] pavoni commented on #163
Can I ask why you forked this instead of proposing a PR?

[2020-09-05 05:39] onkelbeh commented on #163
Hi Greg,

sure you can :-)

As far as I know a pull request cannot contain tags or releases.

Home Assistant relies on specific (very pinned) versions of it's components, so it is not enough to have the current source. I just used the fork to generate the missing source archives for your older releases. I did not change your code.

For normal, I keep 3-6 releases of the ebuilds (depending on HA's

[2020-09-05 08:05] onkelbeh commented on #163
FYI: Just went through and cleaned up: currently I have forked 11 components to get valid source archives.
During cleanup I could remove 9 others :-)

[2020-09-05 17:08] pavoni commented on #163
Well in the sprit of open source I'd welcome a contribution!

Otherwise will investigate when I have time to learn more about the release process (applies to my other repos too).

Don't know if you saw - but the PR you did propose here fails lint. Will obviously need to pass before I look at it in more detail.

[2020-09-09 15:28] #163 closed, assigned to nobody

[2020-09-09 16:05] pavoni commented on #163
@onkelbeh I think the release process and tagging is now sorted.

Happy to tag the old versions if you're willing to dig out the relevant commit ids.

[2020-09-12 14:41] onkelbeh commented on #163
Sure, did it already in the post above :-)

Here are the full commit id's:
[code]
better viewable in color:
<img width="647" alt="Bildschirmfoto 2020-09-12 um 16 40 06" src="https://user-images.githubusercontent.com/42828703/92997865-bb60f280-f516-11ea-9546-afc551da1f94.png">

I have no write access, github refuses to accept the requests without:
[code]

PS: good job :-)

[2020-09-12 14:44] onkelbeh commented on #163
Will review my Ebuilds soon: https://git.edevau.net/onkelbeh/HomeAssistantRepository/issues/178

[2020-09-14 16:43] sqldiablo commented on #163
@onkelbeh I've tagged releases back to 0.4.34.

[2020-09-14 17:09] pavoni commented on #163
@sqldiablo Thanks for doing that!

[2020-09-15 18:16] onkelbeh commented on #163
Thats cool, thanks a lot.
 - fork removed, updat eold SRC_URI's
 - bump pywemo-0.5.0, SRC now is Pypi
https://git.edevau.net/onkelbeh/HomeAssistantRepository/commit/6e95c5c362e389eb32f330445ec654642da43e4f

[2020-10-09 00:18] GSVNoFixedabode opened #168 "Listening for Motion?"
Request for help here:
Is there a HowTo for setting up listening for a Motion trigger? I can see my Motion device and read the current state although that takes a number of seconds to return a value.  I don't want to be actively polling it every half second, then waiting n seconds for each result.  Is there a way to set this up to listen to Motion or subscribe to Motion so a job can be triggered w

[2020-10-19 10:29] pavoni commented on #168
Take a look at https://github.com/pavoni/pyvera/blob/master/examples/device_listener.py for an example

I'm afraid the documentation around this isn't great- but this is called a subscription in the code.

[2020-10-19 20:14] joshuaboniface opened #169 "Port detection fails when using DNS hostname"
Attempting to connect to a device via hostname with PyWemo appears to fail:

[code]

Ideally, this should work equally well with a hostname or IP address.

Came to this conclusion after determining that my previous HomeAssistant configuration, using the Wemo module there, which in turn uses PyWemo, stopped working after a recent update. I am using DNS hostnames in the configuration rather than dir

[2020-10-19 20:20] joshuaboniface commented on #169
Doing some more digging, this actually looks to be a Wemo-side problem. Hitting the device with a hostname returns a 500, while hitting it with an IP returns a 200 as expected. Perhaps PyWemo should attempt to resolve the IP itself, then probe using the actual IP?

[2020-10-19 20:29] joshuaboniface commented on #169
This is very unfortunate, perhaps it should be updated to mention that devices will sometimes fail with hostnames for their own reasons as well.

[2020-10-19 20:34] pavoni commented on #169
Interesting catch. Not sure it's a big deal since most people use discovery anyway (although this is unreliable for me).

We should update the docs as you suggest.

PR welcome - both for the documentation - and the code if you feel strongly - although with what you've discovered sounds like there may be other hidden issues!

[2020-10-19 23:01] joshuaboniface commented on #169
Indeed, I'll do a PR to update the docs just to make note of it.

I don't use discovery myself since my PyWemo user (HomeAssistant) is on a different network from my WeMo devices, so I specify everything directly by hostname (and I use those because I have 12+ devices to remember!) - I definitely agree this is an unusual configuration for most home users.

FWIW I've submitted a fix upstream to HAS

[2020-10-20 09:19] pavoni commented on #168
I'm going to close this for now - but re-open if you need more help.

[2020-10-20 09:19] #168 closed, assigned to nobody

[2020-10-20 09:24] pavoni commented on #169
As you probably guessed the 'non discovery' code started in HA, and then was just added to the documentation here.

I think HA is the main user of the library anyway - so what you've done with the PR there is probably the best way forward, along with the doc changes you've made.

Will leave you to close if you're comfortable with this as an answer.

[2020-10-20 16:53] pavoni commented on #169
I saw the comment on the HA PR.

Would be happy if you wanted to add some sort of utility function to handle the non discovery set up more slickly, and then it could be used directly and in HA.

The non discovery set up could do with improvement anyway - the process here is a bit over complex!

https://github.com/pavoni/pywemo

[2020-10-21 06:46] joshuaboniface commented on #169
Alright, given the answer there that my workaround isn't allowed, perhaps fixing it in here is saner. It'll probably take me a little longer to come up with a good solution but so far not outside my abilities, so I'll keep hacking away at it. If HA is the main (only) consumer that helps narrow it down - once I understand how HA uses it I can base it around that!

[2020-10-21 11:38] pavoni commented on #169
HA has the function below - which should really be in pywemo.

So you could create a version in pywemo - add your host lookup code - and then change HA to use it

[code]

Not quite sure where it belongs - but probably in `discovery`

No changes needed to the other code here except the documentation because the `non discovery` process has always been manual.

And should be an easy change in HA beca

[2020-10-28 05:29] Spectre5 opened #171 "Device Factory Reset/Restore"
This is more of a question than an issue, but I'm not really sure where else to post it.  I'm curious if it is possible to do a full factory reset using pywemo?  I've looked at my switches and I've played around with some of the functions I found using the "explain" method as well as poked around in the _config base object, but I didn't find anything related to a full reset.  I'm looking for the e

[2020-10-28 08:53] pavoni commented on #171
Hi @Spectre5 - no idea myself - but will leave this here in case anyone else has any suggestions.

Will likely require someone doing some digging much as you have done to try and discover if there is an api call somewhere!

[2020-10-29 02:26] Spectre5 commented on #171
I hope someone else has some ideas!  I see that there are 4 open ports (49153/tcp - 49156/tcp), I wonder if maybe there is some undocumented command that Belkin passes to a specific port.  Perhaps someone more adept than me at intercepting the communication between the app and the device could figure it out by doing a reset from the app and see what gets passed.

[2020-10-31 08:51] Spectre5 commented on #171
I brushed up on my wireshark skills and got this figured out.  It is in fact the ReSetup method as I'd originally thought.  Funny enough, I tired passing both Reset=0 and Reset=1 to the function but wireshark showed that the correct code for a full factory restore is actually Reset=2.  I was close!  So assuming that "device" is your wemo object, then this works for me to do a full factory restore

[2020-10-31 23:25] pavoni commented on #171
Great detective work.

There seem to be three gui reset options - so guess they may be 0, 1 & 2.

PR welcome when you’re ready.

Also happy to test this on one of my old plugs.

BTW why do you want to reset the devices? Would have thought this would be a rare need.

[2020-11-01 22:34] Spectre5 commented on #171
You're probably right that 0 and 1 might be the other reset options, although I don't recall either of them resetting the wireless settings, which one of the other methods should do.  I did notice that one of them, I forget which, reset the "friendly name" of the device, so it did do something.  Maybe I'll reset the device a few more times to figure out which each code is with certainty.

I'll loo

[2020-11-02 19:01] ausil opened #173 "support python 3.9"
from https://docs.python.org/3.9/whatsnew/3.9.html#removed

`
Methods getchildren() and getiterator() of classes ElementTree and Element in the ElementTree module have been removed. They were deprecated in Python 3.2. Use iter(x) or list(x) instead of x.getchildren() and x.iter() or list(x.iter()) instead of x.getiterator(). (Contributed by Serhiy Storchaka in bpo-36543.)
`
which results in
[code]

[2020-11-04 01:34] Spectre5 commented on #171
So in my app there are 3 different "reset" options:

- Clear Personalized Info - Erase product name, icon and rules.
- Change Wi-Fi - Connect your Wemo to a new Wi-Fi with all of your personalized info.
- Factory Restore - Erases all settings and returns it to default.

I think the factory restore would essentially just be a combination of the first two.  Anyway, here is what I found out for these

[2020-11-07 01:21] Spectre5 commented on #171
Ok, for some reason this bugged me more than it should, so I investigated this a bit more.  I created a VM (virtual machine) using Android-x86 and loaded an old wemo app on it (version 1.24) from apkmirror.  This older app version was from before Belkin decided to force registered user accounts and pushing (almost) everything through SSL/TLS and the cloud - which is the main reason I want to move

[2020-11-07 01:28] Spectre5 commented on #171
Note also that a future wemo firmware could change the function names, codes, etc such that local control solutions like pywemo would no longer work, thus forcing users to use the app, which now requires internet access even just to turn on a switch.  If they do this, then there would be no easy way to update pywemo or another library to still work since the encryption would make it difficult/impo

[2020-11-07 11:26] pavoni commented on #171
Thanks for the info - and good tip about being careful about updating firmware.

Given all your detective work - will you put a PR together?

Feel free to add a firmware warning to the README if you feel included!

(And more than happy to test on one of my UK insight plugs when it's helpful)

[2020-11-07 17:27] #169 closed, assigned to nobody

[2020-11-08 23:57] Spectre5 commented on #171
Yup, I'll start a PR for discussion and add a working example soon.

[2020-11-12 00:36] carterthayer opened #177 "Support for Wemo Outdoor Plug"
Discovery and manual input for this device does not work with this device

[2020-11-12 10:56] pavoni commented on #177
Do you have any more info? Do you get any error traces?

It's quite possible that Belkin are moving away from their local control model - as suggested here:-

https://github.com/pavoni/pywemo/issues/171#issuecomment-721463048

If that's the case then this pywemo may be unable to control new devices.

[2020-11-12 14:49] carterthayer commented on #177
No errors. It was not found when doing discovery and the device object is None when using the IP method from the README.

I will do some more digging to figure out why. Do you have any guidance/recommendations for looking at what is happening with new devices?

[2020-11-12 15:09] pavoni commented on #177
I've seen some discussions about Belkin now requiring a cloud account registration - and moving from a local network model of control to a cloud one. So it's possible that the new device doesn't support the old style api.

If the device will talk to you there are parts of the code here can help in getting service names etc. but if you can't even get the device to talk to you - then the they only w

[2020-11-12 16:53] Spectre5 commented on #171
Just a quick update on this - I'm getting close to finishing this and my current version works great for my devices.  I will make a PR in another day or two, after I get a little more time to clean it up.

[2020-11-12 17:08] Spectre5 commented on #177
When the commands go to/from the cloud, they are encrypted so figuring out what the commands are from the app will be quite difficult, if not impossible.  With wireshark you'll be able to see the traffic, but to decrypt that message you'll need the decryption key.  This is possible in some cases where Firefox can save the key to a file for you, as described
[here](https://unit42.paloaltonetworks.c

[2020-11-15 15:21] #173 closed, assigned to nobody

[2020-12-08 05:44] Spectre5 commented on #161
PR #179 should provide this functionality.

[2020-12-11 13:11] pavoni commented on #161
Now supported in `0.5.4` many thanks to @Spectre5

[2020-12-11 13:11] #161 closed, assigned to nobody

[2020-12-11 16:38] Spectre5 opened #181 "Discusson: poetry.lock file"
This is just meant as a quick discussion.  Why does pywemo commit the poetry.lock file?  I understand that it provides deterministic builds, but I think it is meant more for applications (final products), less so for libraries.  I see pywemo as a library.

In general, poetry does suggest that you commit it [in their docs](https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-v

[2020-12-12 16:46] pavoni commented on #181
I'm certainly not an expert. And even now it isn't even working the way I'd expect (the recent release built fine on my local machine - and failed on github until I updated the various library versions).

This probably means something is missing in poetry.lock.

My main aim is to make sure the build on github is the same as my local build - and I think the lock file would help, rather than hinder

[2020-12-13 03:05] Spectre5 commented on #181
Ya, I'm no expert with poetry either.  That said, my understanding is that if the poetry.lock file is present, poetry should use it exactly (which is your goal here), and if it is not present, then it uses what is in the pyproject.toml file.  If they differ, then it complains (gives a warning).  If you lock the pyproject.toml file to an exact version (use == instead of ^ or another variation of ve

[2020-12-13 03:09] Spectre5 commented on #181
It's certainly weird that your last build was fine locally, but failed on github.  I wonder if that is related to the different versions of python tested?  Maybe whatever local version of python you use was fine but since the automated tests use multiple version, it doesn't end up being identical to what you have.  Maybe that is why the lock file isn't recommended for a library, but is for a final

[2020-12-14 07:02] mattbilodeau commented on #177
I was able to get details from my outdoor plug, via netdisco:

{'host': '192.168.1.7',
  'mac_address': '{mac}',
  'manufacturer': 'Belkin International Inc.',
  'model_name': 'OutdoorPlug',
  'model_number': '1.0',
  'name': 'Ice Melter',
  'port': 49152,
  'serial': '{Serial}',
  'ssdp_description': 'http://192.168.1.7:49152/setup.xml',
  'udn': 'uuid:OutdoorPlug-1_0-{Serial}',
  'upnp_device_ty

[2020-12-15 06:20] Spectre5 commented on #177
This is great detective work @mattbilodeau.  @pavoni, this is something we probably both overlooked with our first responses --- since the outdoor plug doesn't exist in library, `device_from_uuid_and_location` returns `None`, so the device is never "discovered".  I wonder if it makes more sense to `return Device(url=location, mac=mac, rediscovery_enabled=rediscovery_enabled)` in the case where the

[2020-12-15 06:59] Spectre5 commented on #177
@mattbilodeau, can you please check out and test the code in #184.  I've hopefully added basic support for it there based on your findings, but I can't test it myself.

[2020-12-15 23:34] jeffehobbs commented on #177
Hey, I can return early success, with the discovery portion at least. Running `pywemo.discover_devices()` on the current, production version of pywemo did not return the outdoor plug for me. After updating to the code in #184, I now get `<WeMo OutdoorPlug "Outdoor Christmas Lights">` in the array of devices returned. Really hopeful! 🎅

[2020-12-15 23:58] mattbilodeau commented on #177
I agree with @jeffehobbs, and i was able to toggle the outlet on and off with pywemo!  thanks for the quick response.

[code]

generated:

[code]

[2020-12-16 14:45] pavoni commented on #177
Sounds like it's time to merge!

[2020-12-17 06:15] #177 closed, assigned to nobody

[2020-12-20 06:19] Spectre5 commented on #61
I took a look at this too since it would be nice to use the long press to control any products within Home Assistant.  Unfortunately, unless Belkin changes how the long press works, I don't think it will be possible to subscribe to the long press.  As @esev already saw, there is no broadcast sent out for a long press.  I've verified that with wireshark as well.

The way long press is implemented i

[2020-12-20 16:21] pavoni commented on #181
Are you comfortable that your PR covers this issue?

[2020-12-20 16:23] pavoni commented on #135
Given the investigation above - I think this is (or hopefully was) a wemo firmware bug. Probably not something we should catch here.

Happy to re-consider catching XML error if this (or something similar) comes back.

[2020-12-20 16:23] #135 closed, assigned to sqldiablo

[2020-12-20 16:24] pavoni commented on #121
@meatheadmike Feel free to re-open if this is still an issue for you.

[2020-12-20 16:24] #121 closed, assigned to sqldiablo, meatheadmike

[2020-12-20 18:24] esev commented on #61
@Spectre5 Real nice work!

Is the `<ruleDbBody>` perhaps a base64 zipped sqlite3 database?

[code]
[code]

[code]

The long press rule I had stored in the device triggers three other devices to turn off.

[2020-12-20 18:27] pavoni commented on #61
Wow - some amazing detective work going on here!

[2020-12-20 23:23] esev commented on #61
I'm unable to capture the communication between the App and the Wemo device. I think all the communication from my App is flowing through the Wemo cloud service.

@Spectre5 How were you able to get the app to communicate directly with the device? Would you be able to post an example of the `StoreRules` request with the `<ruleDbBody>`?

I see that my wemo is sending out SSDP discovery messages on i

[2020-12-20 23:53] Spectre5 commented on #61
Hey, great work too!  You're right that most communication now goes through the cloud.  What I did to capture the communication is install Android 8 on a virtual machine and then installed an old APK (version 1.24 or older as the cloud change happened in version 1.25).  That older app version still works and then you can see the local messages!

I agree that the wemo is probably trying to discover

[2020-12-21 00:02] Spectre5 commented on #181
I guess this discussion was just trying to understand if we even should commit the lock file or not.  I'm fine with leaving it, but I just see that half the PR I make ends up changing it.  Obviously if a dependency is added (or removed), then the lock file will change.  But sometimes it seems to change even when no dependencies were touched.  You can close this issue though, I think.

[2020-12-21 00:18] Spectre5 commented on #61
ok, couldn't resist not looking at it closer right now.  Looks like you hit the nail on the head with the sqlite3 suggestion.  Here is what the app sent to the Wemo:

    <?xml version="1.0" encoding="utf-8"?>
    <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" s:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
       <s:Body>
          <u:StoreRules xmlns:u="urn:Belkin:s

[2020-12-21 00:21] esev commented on #61
That's what I was missing. Thank you!

I was trying to use `device.rules.StoreRules(ruleDbVersion=89, processDb=1, ruleDbBody='<![CDATA['+body+']]>')` which always resulted in `{'errorInfo': 'Storing of rules DB failed!!\n'}`

This seems to work `device.rules.StoreRules(ruleDbVersion=89, processDb=1, ruleDbBody='&lt;![CDATA['+body+']]&gt;')`. At least it returns `{'errorInfo': 'Storing of rules DB

[2020-12-21 00:24] Spectre5 commented on #61
Very nice!  Making some real progress here!

[2020-12-21 01:27] esev commented on #61
I have something working.  I added a virtual device to the `temppluginsRules.db` file.
[code]
Then zipped, base64'ed and updated the file with `device.rules.StoreRules`. I set `ruleDbVersion` to one greater than the value returned from `device.rules.FetchRules`

I also modified pywemo a bit to support some additional http verbs and added a `respond_to_discovery` method to respond to M-SEARCH reque

[2020-12-21 02:10] Spectre5 commented on #61
Really cool, great work

[2020-12-21 08:02] esev commented on #61
This is still very much a work in progress, however I have a start on some code to automatically update the rules and make the long press trigger a subscription callback. I've added a `add_long_press_virtual_device` method to the `Device` base class that takes care of everything. See https://github.com/esev/pywemo/commit/34f08c9f66f0a724e9c8460bee989cb7359de0cf

I'm using it like this:

[code]

[2020-12-22 06:54] Spectre5 commented on #61
I haven't had a chance to test it yet, but I've taken a look at the code.  Certainly looks promising!  Two comments:

1.  We should add the ability to delete the long press rule too - either the long press created by pwemo or a long press rule that already exists (from the app).  That way a user can clear the long press rules and then add this virtual one easily.  Probably already on your todo lis

[2020-12-22 08:04] esev commented on #61
1. Good plan! I added the ability to remove and generally interact with the database in a python friendly way in #190. Those helpers should allow us to create other types of rules in the future too (i.e. schedule rules).

2. I've been looking at the latest Android app and found this there.

[2020-12-22 08:06] Spectre5 commented on #61
For 2, how did you find this from the latest Android app?

[2020-12-22 09:28] esev commented on #61
There are some javascript resources within the app that give some hints. The version I'm looking at uses the cloud service, but it does the same, incrementing the ruleDbVersion. It might be okay to set it to 0.

One thing I've noticed is that any rules that I add through #190 get overwritten by the cloud service if the rules are updated in the App. I'm not sure there is any way around this.

[2020-12-22 20:34] esev commented on #61
For what it's worth, I have this working in home-assistant now too.
https://github.com/home-assistant/core/compare/dev...esev:wemo_long_press

[code]

[2020-12-22 20:48] esev commented on #61
I think there is some opportunity to notice that the rules were updated via the App and then re-insert the pywemo virtual device. Since the wemo devices SUBSCRIBE to the SubscriptionRegistry when they are configured to communicate with the virtual device, it'd be possible to keep track of which devices have stopped subscribing. The rules for the devices that stop subscribing could then be updated

[2020-12-26 19:35] esev commented on #61
Just a quick update. I've been running with these two patches for the past few days. Everything seems to be working reliably, including the new long press device triggers in HA.

- pywemo: https://github.com/pavoni/pywemo/compare/master...esev:long_press
- home-assistant: https://github.com/home-assistant/core/compare/dev...esev:wemo_long_press

My plan is break up the large pywemo change into sma

[2020-12-27 00:05] #152 closed, assigned to sqldiablo, pavoni

[2020-12-27 03:27] Spectre5 commented on #61
Great to hear that you're been running this with success.  I haven't had the time to look closely at the PR yet myself, but I will try to within the next 1 or 2 days.  I agree with your thought process on breaking it up into a few separate PR though since the database portion is entirely new to pywemo.

[2020-12-28 12:37] #181 closed, assigned to nobody

[2021-01-04 07:58] Spectre5 opened #197 "[Discussion] Use lxml.etree instead of cElementTree?"
When I upgraded the device.py and service.py files, I added lxml as a dependency, which is already installed on HA as well anyway.  Is it worthwhile to change the `cElementTree` code within the rest of the project to use lxml.etree as well?  lxml is generally a little faster and offers some more advanced features.  With that said, I can't image it would be any noticeable real-world difference with

[2021-01-05 01:54] esev commented on #197
I think having only one XML implementation would be beneficial. I agree with you that there isn't going to be a noticeable speed difference. So, maybe treat this as low-priority? [I'm not sure what other changes you have planned]

[2021-01-05 03:54] Spectre5 commented on #197
I'll probably look at it when I have some time, but I'd agree that it is low-priority and I'm not sure when I'll look into it yet.

[2021-01-05 03:56] Spectre5 opened #199 "[Development] Add a pre-commit hook"
Making this issue/discussion mainly as a reminder.  We may want to look into running the various checks from the `build.sh` file as a pre-commit hook.  It could be installed as part of the build.sh file as well (or a new, separate file that installs poetry and the pre-commit hook only).

[2021-01-07 02:32] dereitz commented on #61
This is exciting stuff!  Looking forward to being able to use it (when included)!!

[2021-01-09 08:27] #61 closed, assigned to sqldiablo

[2021-01-09 19:08] esev commented on #61
Thanks for the reviews, for testing, and for all the investigation @Spectre5

Give me a heads-up after the next release happens and I'll start pulling this into HomeAssistant.

[2021-01-10 06:19] Spectre5 commented on #197
Created a PR to switch to lxml, but I haven't tested it much yet

[2021-01-19 09:55] #197 closed, assigned to nobody

[2021-01-27 16:48] esev commented on #114
Could this be related to the `DESCRIPTION_CACHE` in ssdp.py? Using the example from [this comment](https://github.com/pavoni/pywemo/issues/114#issuecomment-450521329), the `Guest Fan` device that was on 192.168.1.10 changed IPs and then became `Dining Room Dimmer` on 192.168.1.11.

After reconnecting Guest Fan, if it acquired the same IP & port that Dining Room Dimmer previously had, I think the `

[2021-01-27 17:09] esev commented on #114
Never mind. I think this issue still needs work.

Consider the scenario where the `Guest Fan` & `Dining Room Dimmer` were both restarted and their IPs were swapped. In that case, I think `_reconnect_with_device_by_probing` could get confused and end up associating these devices incorrectly.

https://github.com/pavoni/pywemo/blob/94c2ae0b45fa6ad6acfdfca9c5c07e45fcc9db4e/pywemo/ouimeaux_device/__ini

[2021-01-27 17:32] Spectre5 commented on #114
I think we should review all of the subscription/discovery/rediscovery code and think better about these edge cases, then write some tests for them.  Then fix or potentially re-write those parts of the code.

[2021-01-27 18:37] esev commented on #114
I agree. Maybe we can start with the use-case where someone unplugs their wifi router and all the DHCP table entries are gone. When the devices reconnect, assume the DHCP server assigns them IPs sequentially in the same network based on the random order in which they reconnect. Then look at the code with that assumption, identify the edge cases, and add tests.

It might be possible that pywemo nev

[2021-01-28 09:21] Spectre5 commented on #114
Right, makes sense.  Writing some of these tests may get tricky to keep everything acting as real as possible.

[2021-01-28 09:38] pavoni commented on #114
It’s hard to know how far to go with this.

The case where WeMo devices swap ip addresses is quite extreme.

I think most routers try hard to keep device addresses consistent, and if everything is reset, I don’t think it’s unreasonable to suggest to someone they need to restart WeMo/ HA.

I certainly don’t object to handing these extreme cases (although, as an example, wouldn’t want extra costly c

[2021-01-28 16:54] esev commented on #114
I've been taking a look at this, and I think pyWeMo has almost all the right building blocks today to make this work.

First, some use-cases:

- Network Location
  1. Devices are on the same LAN as pyWeMo
  1. Devices are not on the same LAN as pyWeMo
- Device Types
  1. WeMo branded devices
  2. WeMo clone/emulator that has a well known port
- Discovery techniques
  1. Fully static: The device ha

[2021-01-28 17:20] pavoni commented on #114
I've always found discovery to be the least reliable part of wemo (I specify fixed IPs in my router - and in my HA - previously it was common for some devices not to be discovered reliably) - so the idea of dynamically depending on discovery is a bit scary.

As described I feel we're likely to reduce reliability for the most common case in exchange for perhaps better behaviour in a less common cas

[2021-01-28 17:29] esev commented on #114
@pavoni I agree with what you're saying. I personally think we shouldn't handle the case of the IP address changing at all and remove the `_reconnect_with_device_by_discovery` logic. My DHCP server behaves as you have described, always persisting the Mac/IP address relationships. And the existing `_reconnect_with_device_by_probing` logic works great for me.

I think this issue is requesting that w

[2021-01-28 17:39] pavoni commented on #114
@esev `reconnect_with_device_by_probing` was a later part of the library added for the case where we didn't find devices by discovery, but it is arguably a more robust way of handling port number changes.

I think the main intent of `_reconnect_with_device_by_discovery` was to handle the port numbers changing - rather than the IP addresses changing.

So I agree the best approach is probably to sto

[2021-01-28 18:16] esev commented on #114
If we think that IP address changing shouldn't be handled in pyWeMo, then I think we can optionally simplify `_reconnect_with_device_by_discovery` to use a unicast M-SEARCH request (or just remove the method). This will be a lot simpler than doing a full multicast M-SEARCH request and filtering out all the other devices that respond. There won't be any need to fetch /setup.xml for all devices that

[2021-01-28 20:34] pavoni commented on #114
I'm comfortable with either approach. What you describe is very elegant (and I imagine will work much better that the current code since it's directed to a single device), but the probe code also works - and has been robust for a while.

[2021-01-28 22:21] Spectre5 opened #216 "Travis CI Build Badge (outdated)"
When clicking the build badge, it goes here:
[https://travis-ci.org/pavoni/pywemo](https://travis-ci.org/pavoni/pywemo)

There are a few problems:

- This appears to be outdated by 4-5 months.  The branches are 0.4.X and master was last updated 5 months ago.
- There is a message at the top of the page that we need to update to `.com`: "Please be aware travis-ci.org will be shutting down in several

[2021-01-29 08:00] esev commented on #114
Less is more :)  Let's not over complicate it. Leave the logic as it stands now. Like you said; it has been robust for a while.

I sent #219 to avoid one corner case. After that, WDYT about closing this issue?

[2021-01-29 13:31] pavoni commented on #216
Should now be fixed.

[2021-01-29 13:38] pavoni commented on #114
Agree - let's close when we merge.

[2021-01-29 17:25] #114 closed, assigned to sqldiablo

[2021-01-29 22:15] Spectre5 commented on #216
Great, thanks!

[2021-01-29 22:15] #216 closed, assigned to nobody

[2021-01-30 07:32] Spectre5 opened #222 "README Update"
The README mentions that `The code in pywemo/ouimeaux_device is written and copyright by Ian McCracken and released under the BSD license.`, which used to be true.  But now a fair bit of the code in that directory is written entirely by pywemo.  For posterity, I feel like it should be updated, but the directory is a bit of a mix now so I'm not sure how to clearly say it.

[2021-01-30 18:07] #222 closed, assigned to nobody

[2021-01-31 00:37] Spectre5 opened #232 "[Discussion] Hound"
@pavoni, does the hound ci actually do anything?  In the YAML config file, python is disabled.  So I assume it is only being used to check bash files syntax (doesn't support reStructuredText)?
https://github.com/houndci/hound

[2021-01-31 10:00] pavoni commented on #232
I think it’s a ghost.

I have removed two web hooks.

[2021-01-31 19:37] Spectre5 commented on #232
You removed the only two web hooks it used, or are there others?  Should it be removed then or is it still used?

[2021-01-31 19:43] pavoni commented on #232
Hound and the old CI.

Where else does it need to be removed?

[2021-01-31 20:03] Spectre5 commented on #232
Just the hound.yml file in the top directory then!

[2021-01-31 20:30] esev commented on #171
@Spectre5 I'm interested in disconnecting my devices from the cloud. Is that possible now? It wasn't clear to me from the documentation which type of reset would make this happen. If it is possible, which type of reset will do this?

I'm mainly looking to avoid the red flashing light that happens when the Dimmer/LightSwitch device is cut-off from the internet.

[2021-01-31 21:21] Spectre5 commented on #171
Yes, it should be possible!  You can also just use the app itself to reset them (I'd do a full factory reset myself), and then connect to their local wifi and use the setup method from pywemo to set them back up (connect to your local wifi only).

For doing multiple devices semi-automatically, I've used my script here a number of times with good success:
https://github.com/Spectre5/pywemo-setup

A

[2021-01-31 21:22] Spectre5 commented on #171
But, I believe/hope that using the "factory_reset" method on the device in pywemo would also do the same thing as the factory reset in the app. It is possible that the newer app versions do something else, perhaps to "unregister" it from you account?  But in the older version I used for this (pre-forced account creation), I didn't see anything to that effect.  But that is why I might just use the

[2021-01-31 21:27] Spectre5 commented on #171
And this is how my devices are setup now, I don't have the app on my phone anymore and I've done a number of reset-setup cycles while doing various testing.  You could even put them on a separate vlan without internet access, if you wanted to be sure that they cannot/do not access the internet.

[2021-01-31 21:59] Spectre5 commented on #171
As for the red light, mine do not flash.  I think since they are connected to a wifi, they do not flash.

[2021-01-31 23:05] esev commented on #171
I'm not able to get mine to stop flashing red periodically when they are on a non-internet VLAN. :(

I've tried `basicevent.ReSetup(Reset=1)`, `basicevent.ReSetup(Reset=3)` and `basicevent.ReSetup(Reset=2)` and then run through the `setup` to reconnect to my wifi.

`metainfo.GetExtMetaInfo` is able to show some more device details.
[code]

The `HomeID` and `RemAccessEnable` parameters look like mi

[2021-02-01 00:11] Spectre5 commented on #171
I saw the HomeID too.  What if you do a factor reset through the app, then use pywemo's `setup` method to connect it to your home network.  Or did you try that?  That is effectively how mine are setup and they never flash nor give me issues.  I have not yet put them on a non-internet VLAN though, which is something I still intend to do.

[2021-02-01 00:25] esev commented on #171
I think the App's factory reset uses the local UPnP API.

![Screenshot_20210131-161755](https://user-images.githubusercontent.com/289218/106402880-9b0bd480-63e0-11eb-995a-d927535c8e56.png)

I need to setup an Android VM like you did to make this easier! I'm not able to press that button if I'm not on the same Wifi network. The device is on my IoT wifi network, and I've got my access point set to n

[2021-02-01 00:29] Spectre5 commented on #171
Yes, you can try to setup the VM or else temporarily take it off that IoT network just to reset it.

But yes, I believe that those 3 options you have there are the same as the `reset(True, False)`, `reset(False, True)`, and `reset(True,True)` methods in pywemo.  Note that you actually have the wong reset codes mentioned above.  Form the pywemo source, the actual codes are below.  So `Reset=2` is t

[2021-02-01 00:31] esev commented on #171
There are actually 4 reset states (I'm looking at the firmware in Ghidra).

1 = Clear data
2 = Factory reset
3 = Reset remote
5 = Clear wifi

[2021-02-01 00:32] Spectre5 commented on #171
Ah, so the `Reset=3` is one I'm unaware of then.  That did not get triggered when I pressed any of those 3 buttons in the app.  The way I figured out those others was via the app in a VM and then using wireshark to see what was communicated.

[2021-02-01 00:33] Spectre5 commented on #171
I haven't used Ghidra but now I'm really interested in it haha

[2021-02-01 00:36] Spectre5 commented on #171
I was worried about the flashing too if I had them only on my wifi but not connected to the cloud.  Now I'm worried that maybe they are still talking to the cloud since I don't have them on an IoT wifi without internet access yet (on the todo list).  I'll need to test that out, but it would certainly be annoying for me too if it flashed due to that.

[2021-02-01 00:37] Spectre5 commented on #171
You were able to use pywemo to set them up though?  To connect back to the wifi after resetting them?

[2021-02-01 00:43] esev commented on #171
lol - I was impressed with Ghidra. After unpacking the firmware (using binwalk) Ghidra was able to open the linux binaries just fine. There are a lot of logging statements in the code, so it's relatively easy to follow. There used to be a UPnP command there to control the LEDs on the device, but they've removed the functionality from the method. That would have been neat to use as some sort of not

[2021-02-01 00:56] Spectre5 commented on #171
One of the things I'd still like to add to pywemo is a contributing file where a main portion of it would really be discussion on the various tools with some simple/quick get up and running instructions.  For example, creating the VM (which android was used, which APK and why), etc.  Ghidra would be another good one as well (would love a quick run-down!) as some other tools like netdisco.  This wo

[2021-02-01 00:57] Spectre5 commented on #171
What do you suppose `NatInitialized` is?  Mine are 1 for all devices except 1 of them that show -1.

You should make a PR to add the contribution guide with this info and tool information so we can extend it with whatever we know.

[2021-02-01 01:08] esev commented on #171
I'm not sure on 'NatInitialized'. From my digging 'Nat' & 'Remote' & 'Cloud' all seem very much related. I'm just not sure how they are related yet. There is a `natClient` binary in the firmware. I have't dug into that yet. I've focused mostly on the UPnP stuff in `libUPnPHndlr.so`

That's a good idea!

[2021-02-01 01:23] esev commented on #171
As for setAutoFWUpdate, 0 does indeed seem to be off.

When `enableAutoUpdate` is 0, a parameter named `fwup_disabled` gets set to 1. When `enableAutoUpdate` is non-zero, that `fwup_disabled` parameter gets set to 0.

[2021-02-01 01:36] esev commented on #171
When I use `basicevent.ReSetup(Reset=3)`, and I have the internet disconnected (I'm just using iptables to block the one IP on my IoT lan), `RemAccessEnable` does switch to '0'. However, when I give the device access to the internet again, it still connects to the cloud service. It then switches `RemAccessEnable` to `1` and starts reporting a different value for `HomeID`. At this point I'm no long

[2021-02-01 01:43] Spectre5 commented on #171
Interesting.  Anytime remote access is zero though and it can't phone home, the lights flash?

[2021-02-01 01:44] Spectre5 commented on #171
I wonder if one of these other methods on the device can help somehow, not sure which though.

[2021-02-01 01:45] esev commented on #171
hehe. This is exactly why I've been looking in Ghidra :)

[2021-02-01 01:47] esev commented on #171
I'm not sure yet exactly what causes `NatInitialized` & `RemAccessEnable` to be 0. I think the `Reset=3` causes `RemAccessEnable` to be 0 temporarily, but it might get re-enabled later when the device connects to the cloud again.

[2021-02-01 01:50] Spectre5 commented on #171
Have you tried a hardware reset?  Most (all?) Of the devices have a hardware reset method.

[2021-02-01 02:52] esev commented on #171
Yes. Tried that, and also got an ethernet connection on my phone and reset it through the app. The device still tries to maintain a connection to the cloud and flashes red when there is no internet. :(

Oddly enough, even with using the factory restore button in the app, my device still ends up with the same HomeID when it reconnects back with the cloud - even though I can no longer see it in the

[2021-02-01 03:09] Spectre5 commented on #171
I've seen some of these same things as well, where my app didn't show the device.  That made me assume that it was not connected to the cloud and since I had no blinking light, I figured that being connected to wifi was enough to disable that light.  Clearly I was wrong though.  I did find it suspicious that the homeID was changed and then changed back to the old/original one (I saw that too!).  H

[2021-02-01 03:09] #171 closed, assigned to nobody

[2021-02-01 03:09] Spectre5 commented on #171
oops, didn't mean to re-open it

[2021-02-01 03:55] esev commented on #171
Ah ha! The red blinking light seems to go away when ICMP is allowed (to `heartbeat.xwemo.com`). And it needs to connect to the local DNS server to lookup the `heartbeat.xwemo.com` domain.

It still tries to connect to the cloud, but with everything but ICMP blocked it cannot actually connect to the cloud. And no red blinking light. Win!

[2021-02-01 06:23] Spectre5 commented on #171
Very nice, thanks!  Another thing worth adding to the contributing guide or maybe the README itself.  I'll definitely follow this when I move mine over, thanks for all the digging!

[2021-02-01 06:58] esev commented on #171
https://www.scip.ch/en/?labs.20160218 has some more data about how the devices get connected to the cloud (RemoteAccess API).

[2021-02-01 07:26] Spectre5 commented on #171
Oh ya, I did come across that too when I wrote the reset/setup code, but I'd forgotten that it had that discussion in there.

Is there a way to access its internal log?  There is a `GetLogFileURL` action but the URL it provides returns a 404.

Also, have you looked at all at the `device.remoteaccess.RemoteAccess` action?

[2021-02-01 07:30] Spectre5 commented on #171
There is also a `SetLogLevelOption` action, so maybe the log is 404 since it isn't turned on.  I haven't tried messing with it.

My two lightswitches, by the way, do not have the `setAutoFWUpdate` action.  Do all of yours have it?  I last updated my firmware at the same time, but I think these lightswitches are first gen, or maybe second.

[2021-02-01 07:57] esev commented on #171
I haven't been able to find anything that writes to the PluginLogs.txt path yet. :(

I was able to call the `device.remoteaccess.RemoteAccess` action the way they describe in the Communication Analysis post. It looks like that is what registers the device on the cloud service.

I don't have my V1 lightswitch installed at the moment. All of mine are the V2 and have firmware version `WeMo_WW_2.00.11

[2021-02-01 07:57] #232 closed, assigned to nobody

[2021-02-01 08:26] Spectre5 commented on #171
The `RemoteAccess` action cannot un-register the device though?  That's what I was looking for.

Looks like my lightswitch is a v1 with firmware `WeMo_WW_2.00.11408.PVT-OWRT-LS`

[2021-02-01 08:36] esev commented on #171
I've been looking for just that too. Unfortunately Ghidra's decompiler isn't working on the RemoteAccess method, and my MIPS assembly skills are lacking :) But, it's pretty easy to see the names of the functions that are being called, and I don't see anything obvious in that action that would disconnect from the cloud. It looks like the RemoteAccess action is processing the action parameters and t

[2021-02-01 09:22] esev commented on #171
It really looks like the cloud cannot be disabled. :(

`libRemoteAccess.so` looks like the binary with the cloud connection logic. There is a method inside called `initCoreThreads`. That appears to be the method that starts all the threads that interact with the cloud service. I don't see a check anywere that would prevent initCoreThreads from running, and I don't see any checks inside initCoreThr

[2021-02-01 18:57] esev commented on #171
When the DHCP server doesn't provide a default gateway, the device continually reboots and flashes the white LED (same LED pattern as it does when you restore power to it). So that option doesn't work.

I then tried configuring the DHCP server to not respond with a DNS server. That works! You still need to allow ICMP (to 8.8.8.8) to avoid the red-flashing LED, but if the device isn't provided with

[2021-02-01 20:14] Spectre5 commented on #171
It could, potentially, have a hardcoded DNS, probably 8.8.8.8.  A lot of IoT devices ignore DNS settings and use a hardcoded value, if it is reachable, and then only uses the DHCP provided value if the hardcoded one isn't reachable.

[2021-02-01 20:17] esev commented on #171
There is a hardcoded `8.8.8.8` for sending an ICMP connectivity test. But I don't see a hardcoded 8.8.8.8 for the DNS settings. That could, of course, change with future firmware releases.

[2021-02-01 20:24] esev commented on #171
I see this now, for `metainfo.GetExtMetaInfo`, with no DNS server configured.

[code]

[2021-02-01 20:46] Spectre5 commented on #171
Gotcha ok

[2021-02-03 01:08] Spectre5 commented on #171
All of this is useful stuff to add to that contribution guide too, or maybe more appropriately something like a "WEMO_GUIDE.md" or "HOWTO.md" file.

[2021-02-05 01:41] #115 closed, assigned to sqldiablo

[2021-02-06 19:02] Spectre5 commented on #171
How did you grab the firmware to use in Ghidra?

[2021-02-06 19:12] esev commented on #171
I watched the network traffic that happened the last time the device updated. It downloads the firmware over http (not https) so it is possible to capture the url.

Send me a PM on the [HA chat](https://discord.gg/5EME9fre), or email me using the email in the 'git log'. I don't know if I should share the URL publicly.

[2021-02-07 17:54] esev commented on #171
I started a few Wiki pages to document things.

- [Local Interface](https://github.com/pavoni/pywemo/wiki/Local-Interface)
- [WeMo Firmware](https://github.com/pavoni/pywemo/wiki/WeMo-Firmware)

[2021-02-07 18:46] esev commented on #171
And I added another page with some details on the [cloud service](https://github.com/pavoni/pywemo/wiki/WeMo-Cloud), including some ways to disconnect from the cloud.

[2021-02-07 19:09] Spectre5 commented on #171
awesome, thanks! I'll and expand as needed too.  I think the wiki is a good place for this info

[2021-02-09 17:54] esev opened #237 "Wifi setup does not work for WSP080 & WSP090"
Both the [WSP080](https://www.belkin.com/us/p/P-WSP080/) & [WSP090](https://www.belkin.com/us/p/P-WSP090/) devices do not work with the WiFi setup code.

[code]
[code]

Both devices stay in "Access Point" mode (initial setup mode where they act as a WiFi access point) and do not join the network that is being configured. Both of these devices appear to be based on a different firmware platform (`R

[2021-02-09 18:29] Spectre5 commented on #237
Huh.  Looks like the network status codes are different for the RTOS firmware devices, and potentially some of the codes used in other functions too.  Can you send the output of "explain" for one of these?  Or maybe we have the details in a vcr file already, I haven't looked.

[2021-02-09 18:32] esev commented on #237
WSP090 explain:
[code]

WSP080 vcr: https://github.com/pavoni/pywemo/blob/master/tests/vcr/tests.ouimeaux_device.test_switch/WEMO_WW_4.00.20101902.PVT-RTOS-SNSV4.yaml

[2021-02-09 20:36] Spectre5 commented on #237
Looks like the connect home network doesn't take a channel argument here...so something is definitely different!

[2021-02-09 23:56] esev commented on #237
I'm pretty sure the `<new_algo>1</new_algo>` in setup.xml is going to be related to this. It looks like the algorithm for generating the encrypted wifi password may have changed.

Note to self: Remember to check if the [Insight devices](https://github.com/pavoni/pywemo/blob/a66e95e3eaf05bf04b9cdcdc1901fe72282892bf/tests/vcr/tests.test_subscribe/WeMo_WW_2.00.11408.PVT-OWRT-Insight.yaml) work too. `

[2021-02-10 00:37] esev commented on #237
Got it working for WSP080 & WSP090. It needed two changes.

1. There is an extra string that gets tacked onto the end of `keydata` (I'm not sure where we should store this string - just add it to the code directly?)
2. The device expects the base64 encoded string directly, it doesn't require the two hexadecimal length parameters to be tacked onto the end.

[2021-02-10 16:40] Spectre5 commented on #237
Interesting, nice investigation!

[2021-02-10 16:45] Spectre5 commented on #237
As for the extra string to add, I think we should probably store it in a global constant, with a comment that certain devices need it appended.  Other devices, now or in the future, may have different constants added.  And I guess we need to add logic to select which "style" to use depending on the device, or on the firmware of the device.

Did you still send the channel?  I guess that maybe you c

[2021-02-15 03:51] Spectre5 commented on #237
I think we should make a list of everything different (known, anwyay) with the rtos devices compared to the owrt ones.  If there are enough (consistent) differences, then it may be worth removing those unique parts from the `Device` class (so that it only has the common parts) and then making an RTOS and OWRT specific class that inherit from `Device`, or perhaps the unique parts could be added as

[2021-02-18 16:23] pavoni opened #244 "Pywemo ownership - time for a change?"
@esev @Spectre5 I've been thinking about this for a few weeks.

I have fewer wemo devices that I did - and my main focus over the past few years has just to make sure the library is supported for me and the many HA users who depend on it.

The two of you have made a huge difference in the last few months - and made some pretty dramatic improvements - including to some of the code that's been there

[2021-02-18 17:11] pavoni commented on #67
I suspect we should now close this @esev do you have a view

[2021-02-18 17:21] esev commented on #67
I think it can be closed too. I think the bridge might be the only device that doesn't do this at the moment. But the bridge is also not setup for a subscription in home assistant either.

[2021-02-18 17:24] #67 closed, assigned to sqldiablo

[2021-02-19 08:23] esev commented on #244
Thanks for the generous offer @pavoni and the kind words.

I certainly want to stay involved with pywemo. I'm just not very familiar with hosting a github project (setup/workflows/etc) or with pypi. My impression is that @Spectre5 understands the packaging and project setup better than I do, and so may be a better match for owner.

At some point I should learn though - and it would be easier to le

[2021-02-19 14:49] Spectre5 commented on #244
I think @esev would be a great steward for the project.  He's been a bit more active than myself (great work!), has more wemo devices (both in quantity and variation in models), and has better knowledge on how it all integrates with HA.  I've looked through the wemo component in HA to understand how it interacts with pywemo, but @esev has a better grasp on all the details there as well a great tes

[2021-02-19 15:48] pavoni commented on #244
@esev I'm no expert with the PyPi and build stuff myself. What we have was contributed to another repo I look after - and I just modified it very slightly - you guys have tidied it up more than I did!

Given we have a working framework I can't imagine we'll need to do very much anyway. And if we did I expect we'd struggle through it together anyway!

Like @Spectre5 I'd be very happy to help if you

[2021-02-19 21:59] esev commented on #244
Thank you to both of you for this feedback. I'm prepared, and excited(!), to take this on.

I just need to double-check on things at my work first. They have some open source policies that I don't want to run afoul of. It's very clear that I can contribute to the project, but I'd like to get their okay before taking on ownership. I work on malware detection systems at Google for my day job, so I c

[2021-02-20 15:51] theyosh opened #248 "version 0.6.2 broken?"
After updating to version 0.6.2 I get the following error importing the pywemo module:

[code]
With version 0.6.1 there is no problem.

Did I miss something?

[2021-02-20 16:12] esev commented on #248
It looks like `allowed_methods` wasn't added until urllib3 version 1.26.0. Updating to that version of urllib should fix the issue.
https://github.com/urllib3/urllib3/blob/1.26.0/src/urllib3/util/retry.py

I'll send a PR to fix the pywemo dependencies.

[2021-02-20 16:28] theyosh commented on #248
Ah, that did the trick. Upgrading urllib3 to the latest version and then pywemo does also work at the latest version.
Thanks for the info.

[2021-02-20 16:34] esev commented on #248
@theyosh thanks for verifying!

[2021-02-20 17:06] esev commented on #248
Keeping this open till the next version bump.

[2021-02-20 17:56] pavoni commented on #248
Thanks for catching this - now released in `0.6.3`

[2021-02-20 17:56] #248 closed, assigned to esev

[2021-02-20 17:57] pavoni commented on #199
Would be happy with this if you wanted to put together a PR.

I think this works well in the HA dev environment.

[2021-02-20 18:08] Spectre5 commented on #199
Yup I will put one together later today!

[2021-02-22 11:57] #199 closed, assigned to nobody

[2021-03-04 19:27] ausil opened #253 "pywemo fails to work correctly with HA 2021.3.0"
HA 2021.3.0 upgraded pywemo to 0.6.3
2021-03-04 00:29:43 INFO (SyncWorker_2) [homeassistant.util.package] Attempting install of pywemo==0.6.3

When starting up it fails with
2021-03-04 00:34:46 ERROR (MainThread) [homeassistant.setup] Setup failed for wemo: unknown error
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.9/site-packages/homeassistant/setup.py", line 166, in

[2021-03-04 19:35] ausil commented on #253
updating urllib3 to a new enough version has fixed the issue, you should make sure to require a new enough version

[2021-03-04 19:41] esev commented on #253
Fixed in 0.6.3

See also:
- https://github.com/pavoni/pywemo/issues/248
- https://github.com/home-assistant/core/issues/47334

Even though it has been fixed, let's keep this issue open for a bit to improve discoverability of the fix.

[2021-03-04 20:04] ausil commented on #253
it is not fixed in 0.6.3 after installing it is when things broke, you need to add a versioned dependency on urllib3 to a version that supports allowed_methods

[2021-03-04 20:23] esev commented on #253
Hey @Spectre5, is there a way to make sure the change from #249 is reflected in the 0.6.3 package?

[2021-03-04 20:27] pavoni commented on #253
As far as I can see this looks right
https://github.com/pavoni/pywemo/compare/0.6.2...0.6.3

[2021-03-04 20:31] esev commented on #253
pipdeptree looks right also.

[code]

`allowed_methods` is in 1.26.0 https://github.com/urllib3/urllib3/blob/1.26.0/src/urllib3/util/retry.py

[2021-03-04 20:39] esev commented on #253
It it possible that the python interpreter had already loaded an older version of `urllib3` before the `pywemo` package was updated? I'm not very familiar with what Home Assistant is doing here:

[code]

[2021-03-04 20:48] Spectre5 commented on #253
Yup, the *tar.gz file on PyPI has the correct dependency:

[code]

That said, `pip` doesn't strictly enforce versions, so perhaps @ausil should check with `pip check`?  Maybe another library installed requires a version less than 1.26.0 and there is a conflict?  ~If the wheel is used, there is no version dependency information in the wheel file, so I'm not exactly sure how that works...~ The wheel

[2021-03-04 20:52] esev commented on #253
This seems to be what Home Assistant is doing
https://github.com/home-assistant/core/blob/43474762b24e285bc525d9ffa09c6f7658525353/homeassistant/util/package.py#L64

I could be wrong here, but i'm pretty sure if another Home Assistant component had already loaded the existing `urllib3` before the upgrade happened, the python runtime would not re-import a new version of `urllib3`. So then `pywemo`

[2021-03-04 20:52] Spectre5 commented on #253
Wheel is good too (updated previous comment)

[2021-03-04 20:55] esev commented on #253
@ausil does it work after a restart?

[2021-03-04 20:56] Spectre5 commented on #253
`pip` should then update `urllib3` before installing `pywemo`, right?  Unless perhaps there is a conflict somewhere else and then it just leaves it as-is.

I think @ausil got his fixed, sounds like he manually updated `urllib3` to a newer version.  The question is why the install didn't do that automatically, as `pip` should have.

[2021-03-04 21:14] Spectre5 commented on #253
Maybe when `pywemo` was installed, it did upgrade the dependency for `urllib3`, but then another library was installed/upgraded afterwards with a requirement less than `1.26.0`?  In that case, `pip` will downgrade to match the latest installed/upgraded package from my experience.  So I still suspect that another library requires a lower version.  I'm not sure of a really easy way to find that when

[2021-03-04 21:33] ausil commented on #253
I only got it working by running `pip3 install --upgrade urllib` as urllib3-1.25.11 was installed. after upgrading urllib3 and restarting hass did everything work again.

[2021-03-04 21:40] ausil commented on #253
[code]

[2021-03-04 21:42] Spectre5 commented on #253
So botocore conflicts here.  I wonder if they can allow newer versions, does that library still work properly?

[2021-03-04 21:50] ausil commented on #253
I do not directly use botocore anywhere that I know of, it looks like it is pulled in for the cloud and mobile client which I do use. boto3 requires an old version of botocore which may be part of the problem `boto3 1.16.9 requires botocore<1.20.0,>=1.19.9, but you'll have botocore 1.20.21 which is incompatible.` so I can not update. I will have to double-check what is working correctly

[2021-03-04 23:42] esev commented on #244
Sorry for the drawn-out process here. There is one more thing I'm checking on. Just want to make sure I'm able to properly abide by my employers requirements.

They've given me a few recommendations and I'd like to run them past you both.

1. They recommend that we add a top level LICENCE file including both the MIT and BSD licences.
2. (I think) They want to see a top level CONTRIBUTING file too

[2021-03-05 00:06] pavoni commented on #244
Thanks for taking the time to follow up on this.

I think both are good practice, so no issue in principle.

Their suggested contributing document looks a bit involved. The HA one (that I suspect we’ve all signed) looks very straightforward. Don’t know if they’d find it acceptable.

https://www.home-assistant.io/developers/cla/

[2021-03-05 00:11] esev commented on #244
That might be a good compromise! I'll ask.

[2021-03-05 00:19] esev commented on #244
Oh, actually, the Home Assistant one mentions the Apache 2.0 licence. And PyWemo is MIT/BSD. So that doesn't look like it'll work as-is :(
https://github.com/home-assistant/core/blob/dev/CLA.md

[2021-03-05 00:51] esev commented on #244
I'll post another update once I hear more about the CONTRIBUTING file.

I'd really like to help out with ownership here! But at the same time I don't want to do something that hurts the pywemo project or burns-bridges or rocks-the-boat too much. I wish I could have been more up-front about this initially, but at that time I didn't know what was involved; I'm learning now. Let's see what they say a

[2021-03-06 03:31] esev commented on #244
I got some clarifications on my questions. I've been misinterpreting advice/suggestions on best practices, from the open source team at Google, as something that is required. The CLA, CONTRIBUTING file, and even the LICENSE file changes are optional. They were providing these suggestions for the purpose of looking out for myself (and the pywemo project), not as conditions for an ownership change.

[2021-03-06 14:01] pavoni commented on #244
That’s great - shall we take this offline?

Not sure how to exchange emails privately - but I just followed you on Twitter - so you can probably sent me a pm.

[2021-03-06 17:20] Spectre5 commented on #244
You may want to backup the wiki pages you've created.  They may not transfer through an ownership change.  I think I've heard or read that before, but I'm not certain.

As for the other points, I think a LICENSE file is certainly considered best practice and makes sense to do.  A CLA seems a bit overkill to me for a small project like this.  I can see why a company sponsored project would do it or

[2021-03-06 20:05] esev opened #254 "Add fader support for Dimmers"
WeMo dimmers support a fade transition time for transitioning between brightness levels. This is supported for the Bridge device in pywemo, but not for Dimmers. It would be nice to have this supported in pywemo for Dimmers also.

`SetBinaryState(BinaryState, Duration, EndAction, brightness, fader, UDN, CountdownEndTime, deviceCurrentTime)`

The `fader` parameter appears to be the key to making thi

[2021-03-06 22:23] esev commented on #244
I'm far from being an expert here, but this my understanding... When someone contributes to an open source project, that person maintains the copyright on all their contributions (and possibly their employer too, depending on the situation). The contributions are also made with a license which governs the terms of how those contributions can be used.

Going back to the [initial commit](https://git

[2021-03-06 22:43] Spectre5 commented on #244
I see.  So yes, difference in understanding then.  My thought was that only the original code was under that license, but I can see it both ways.  I'm certainly no expert here either, at all.  I could see how it is more clear when separating by directory.  My issue with the previous wording before #255 was that it previously implied all code in that directory was copyright by Ian, even though much

[2021-03-07 05:22] esev commented on #244
Oh yes, I see that perspective too. The clarification that Ian didn't write a lot of the code in ouimeaux_devices directory makes sense to me.

I'm also good with saying everything I've contributed under the ouimeaux_devices directory is BSD licensed and everything else is MIT licensed.

@pavoni, I'm curious for your perspective here too.

[2021-03-07 06:28] Spectre5 commented on #254
This would be a nice touch.  I had seen this attribute as well but I hadn't taken the time to investigate it closer.  All of my other devices contain a signature like this:

`SetBinaryState(BinaryState, Duration, EndAction, UDN, CountdownEndTime, deviceCurrentTime)`

I've wondered on these as well what `Duration` and the times are for.  If `Duration` is to make it turn on for a certain amount of t

[2021-03-07 07:00] Spectre5 commented on #254
As for the fader, that 3rd item seems to be related to toggling a button and is otherwise to control whether it is enabled or not?

[code]

[code]

[code]

[2021-03-07 17:26] esev commented on #254
Ah ha. Yes, a sleep timer describes the behavior of the third parameter well. When set to `0` it behaves like a sleep timer, turning off the light after the specified timer period. When set to `1` it behaves like a fader.

Figuring out the `Duration` parameter sounds like a good idea too. My old [F7C027](https://www.belkin.com/us/support-product?pid=01t80000002xFCbAAM) switch has `SetBinaryState(B

[2021-03-07 18:07] esev commented on #254
Looking at the `setSleepTimer` function you mentioned, I see that the brightness is hard-coded to `0`. That could explain why the green light never goes off when you fade to a non-zero value - they may not have intended for that to happen. I also don't see any way to fade-On in the app.

[2021-03-07 21:52] esev commented on #244
Thanks for the heads-up about that @Spectre5. I cloned the wiki locally just in case.

[2021-03-08 01:45] ausil commented on #253
It appears everything is working correctly.

[2021-03-08 02:49] esev commented on #253
Looks someone else is having trouble with this in https://github.com/home-assistant/core/issues/47334

I wonder why Home Assistant installs pywemo v0.6.3 without having the dependencies being met (assuming that's what is happening here)?

[2021-03-08 02:54] Spectre5 commented on #253
Pip really isn't great at handling conflicts.  I'm fairly certain that what is happening is that pywemo gets installed and the later another library, like botocore, is installed and pip then downgrades urllib3 to meet the requirement of the latest installed library.

[2021-03-08 03:04] Spectre5 commented on #253
Here is a demonstration of that in a fresh venv.  I don't see any way around this except lowering the requirement in pywemo or getting other libraries to allow later versions.  @ausil hasn't seen an issue with a newer version installed with `botocore`.  I'm actually surprised that this issue (colloquially known as dependency hell) isn't more common in HA since there are *so* many libraries used if

[2021-03-08 03:11] esev commented on #253
It's kinda weird though. `botocore` isn't even in https://github.com/home-assistant/core/blob/dev/requirements_all.txt. And `boto3` is expected to be at [1.9.252](https://github.com/home-assistant/core/blob/a066f8482866d69a38f69dd99cc20682565d9f4b/requirements_all.txt#L378). When I did #249 I checked that my home-assistant venv had a newer version of `urllib3` (it had 1.26.2 at the time).

I feel

[2021-03-08 03:28] esev commented on #253
This is what I usually use for setting up my dev Home Assistant venv. https://developers.home-assistant.io/docs/development_testing/#testing-outside-of-tox

Are there similar instructions for HA Core?

[2021-03-08 03:33] Spectre5 commented on #253
I'll have to investigate it more later.  Can third party add-ons have additional requirements?  Do they get their own venv or share the main one?  If shared, then perhaps an add on causes the issue?

[2021-03-08 03:33] esev commented on #253
Oh! Just realized boto3 isn't in requirements_test_all.txt. So maybe that's where I ran into troubles.

[2021-03-08 04:03] Spectre5 commented on #253
Good catch, but I'd still think that HA tests the requirements for compatibility before releasing though!  And it doesn't explain the difference in version from master to what ausil has with 1.19.9

[2021-03-08 04:07] esev commented on #253
Agreed. FWIW, this is what `pip check` reports for my (mostly stock) Docker container. I would think that a HA Core install would have a similar output. But my knowledge of pip/dependencies isn't great.

[code]

[2021-03-08 04:11] Spectre5 commented on #253
So interesting that botocore shows up there!  The order of installs by pip from a requirements file is not guaranteed.  So, I believe that it is possible that doing a `pip install -r requirements.txt` on different machines may result in the libraries being installed in a different order.

See, for example:
https://github.com/pypa/pip/issues/2362#issuecomment-77464857

https://github.com/pypa/pip/i

[2021-03-09 17:13] bnbarnes opened #259 "arm-linux-gnueabihf-gcc failure"
Encountered the following error when running  .scripts/build.sh on Raspberry pi:
      creating tmp
      cc -I/usr/include/libxml2 -I/usr/include/libxml2 -c /tmp/xmlXPathInit0yfg0jlx.c -o tmp/xmlXPathInit0yfg0jlx.o
      /tmp/xmlXPathInit0yfg0jlx.c:2:1: warning: return type defaults to ‘int’ [-Wimplicit-int]
       main (int argc, char **argv) {
       ^~~~
      cc tmp/xmlXPathInit0yfg0jlx.o -lx

[2021-03-09 17:18] esev commented on #259
@bnbarnes, see this comment https://github.com/home-assistant/core/issues/46212#issuecomment-780021935. Does that help?

[2021-03-10 16:30] #253 closed, assigned to nobody

[2021-03-10 16:51] esev opened #261 "Changing default branch to main"
What do you think about changing the default pywemo branch from `master` to `main` to align with the Github changes?
https://github.com/github/renaming

I figured since things are moving already (#244), right after the move might make a good time to make this change too.

[2021-03-11 17:41] #261 closed, assigned to nobody

[2021-03-11 22:59] pavoni commented on #244
Repo now moved so closing.

[2021-03-11 22:59] #244 closed, assigned to nobody

[2021-04-14 13:31] mweinelt opened #264 "test_rules_db_from_device is flaky"
One some of our machines the `test_rules_db_from_device` test is flaky, possibly racy, executed in a diffferent order than required. It tries to access a table that does not yet exist.

Happens on pywemo 0.6.4.

[code]

[2021-04-19 03:02] esev commented on #264
@mweinelt I'm unable to reproduce this issue locally. Is there a particular environment that I can use to reproduce the issue?

I did find one thing that might be causing the issue. Could you try this?
https://github.com/pywemo/pywemo/compare/main...esev:test_rules_db_from_device

[2021-04-19 03:51] Spectre5 commented on #264
I was also unable to reproduce this issue.  Maybe an OS difference or filesystem difference if the flush solves it.

[2021-04-19 19:06] mweinelt commented on #264
I've opened up a pull request over at nixpkgs for people to give that a try. I personally cannot reproduce the error. It happened on our build hosts though. I'm not sure what I can tell you about the environment, there should be nothing special about it.

https://nix-cache.s3.amazonaws.com/log/3a9vs2wy4mqfjy0svvy3m8ddmpryv5hc-python3.8-pywemo-0.6.4.drv

[code]

On Python 3.8.8.

[2021-04-27 02:10] mweinelt commented on #264
Looks like that did the trick. Thank you!

[2021-04-27 02:10] #264 closed, assigned to esev

[2021-05-01 04:00] RussellAult commented on #237
I just ran into the same problem. @esev do you have a patch or PR you can share to point me in the right direction??

[2021-05-01 18:31] esev commented on #237
Hi @RussellAult, PR #267 should work. Could you test it on your device?

[2021-05-01 21:19] RussellAult commented on #237
@esev Amazing! Thanks for this! Here's my test results with a WSP090:

- `get_state()` and `toggle()` both worked exactly as expected, both before and after setup
- `setup()` was successful (in that the WSP090 did connect to the Wi-Fi network) but threw the following error on completion:
[code]

[2021-05-01 21:34] Spectre5 commented on #237
That is probably fine as some devices (even the non-rtos ones) don't have this method.  To be honest, I don't know what this method even does, but I saw that it was called on my wemo mini when I set it up with the app, so we call it in this setup code but ignore it if it doesn't exist.  We could probably be smarter with this and instead check if the method actually exists before we try calling it.

[2021-05-01 21:35] Spectre5 commented on #237
You can use the `explain` method to see if `CloseSetup` even exists on your wemo device.

[2021-05-01 23:17] RussellAult commented on #237
👍 This is it exactly

[2021-05-01 23:21] esev commented on #237
Awesome! Thanks for testing. I'll merge #267.

[2021-05-01 23:21] #237 closed, assigned to nobody

[2021-05-01 23:23] RussellAult commented on #237
For what it's worth, there's nothing in the output of `explain()` for my WSP090 called `CloseSetup`

[2021-05-01 23:47] Spectre5 commented on #237
Gotcha, ok!  I'll make a new PR soon to change the setup method to check for the close setup method!

[2021-05-02 00:05] RussellAult commented on #237
Thanks again for all the help!

[2021-05-24 21:24] mweinelt opened #268 "test_bridge_getdevicestatus fails with libxml2 2.9.12"
After upgrading libxml2 from 2.9.10 to 2.9.12 the `test_bridge_getdevicestatus` test in `tests/ouimeaux_device/test_bridge.py` fails like this:

[code]

There is an unexpected trailing `</DeviceStatusList>`.

[2021-05-25 18:58] mweinelt commented on #268
Cause is a regression upstream at libxml2.

https://gitlab.gnome.org/GNOME/libxml2/-/issues/255

[2021-05-25 18:58] #268 closed, assigned to nobody

[2021-05-25 22:01] Spectre5 commented on #268
Thanks for getting back to this!  I was suspecting it may be, but haven't had time to go test it myself.

[2021-05-25 22:02] Spectre5 commented on #259
@bnbarnes, do you have any further update on this?

[2021-05-25 22:42] mweinelt commented on #268
Yeah, and now that it is documented others may find the reference useful! You're welcome.

[2021-05-25 23:14] Spectre5 commented on #268
Should this link to issue 255 in libxml2 instead of 25, though?

[2021-05-26 19:21] pfletch101 opened #269 "sudden complete failure - possible silent breaking firmware updates?"
I have a fairly complex application running on a Raspberry Pi, using pywemo to control a number of Wemo wall switch and plug units. Everything was working normally until some time after dawn this morning (when the application switched off a light that stays on all night, as usual). When the application tried to switch on one of the plug units at 10:00, it errored out. This occasionally happens whe

[2021-05-26 19:48] pfletch101 commented on #269
Never mind!! It appears to have been some sort of weird networking issue. Rebooting my router and my wifi access point restored everything to normal. Go figure!

[2021-05-26 19:48] #269 closed, assigned to nobody

[2021-05-27 17:31] bnbarnes commented on #259
It never built, but I found another source for the app I was using.
Regards, Bruce

    On Tuesday, May 25, 2021, 03:03:00 PM PDT, Spectre5 ***@***.***> wrote:

@bnbarnes, do you have any further update on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-12 00:05] pfletch101 opened #270 "Does anyone have any experience getting detailed usage data from an Insight plug?"
The question says it all. Apparently Belkin regard these as obsolete and they appear to have dropped support for them, except as standard switched plugs with some real-time reporting. I would, anyway, prefer to do this through pywemo if there is an approach that works.

[2021-06-12 00:29] esev commented on #270
You can get the detailed usage information from pywemo. See the properties in [insight.py](https://github.com/pywemo/pywemo/blob/75b2eb868fac06c64290ff02c256979562fad2f7/pywemo/ouimeaux_device/insight.py#L78) for details.

Here is an example:

[code]

[2021-06-12 00:41] pfletch101 commented on #270
Thanks for that. However, all those properties are (in some sense) **current** values. I believe that the Insight keeps quite detailed 'historical' records, albeit for a limited period of time (weeks, but not months, I think) which one used (at least) to be able to download as a batch process. It is to those records that I would like to get access.

[2021-06-12 00:46] esev commented on #270
That's interesting! I hadn't realized the device was storing this information. We don't currently have anything in pywemo to fetch the data. But running `insight.explain()` shows some interesting methods (this dumps all the methods that can be called on the wemo).

[code]

I'd suggest seeing if either of those last two methods might lead to this data. If we can figure out which method exposes the

[2021-06-12 02:06] pfletch101 commented on #270
The last two methods do, indeed, look like the key to the data dumps. I believe that what is sent to the email address is a CSV file, but I don't know its layout, nor the definition/type of DataExportType. Reading between the lines of the Belkin documentation I have seen, the latter probably specifies the time period for the dump, and possibly implicitly the 'sampling interval'. I am hoping that s

[2021-06-13 17:52] pfletch101 commented on #270
It turns out that the Wemo App does still support the email data download functionality. The documentation of the App on Belkin's site is wrong (presumably out of date) in describing how you set it up. It looks as if the default (?only) rate of recording the stored data is every 30 minutes, which is a bit infrequent for my purposes, so I may have to set up 'manual' sampling and recording, anyway I

[2021-06-17 14:39] GarlicToum opened #271 "Suggestion for Setup section in README"
Big fan of pywemo, thanks for supporting it! I recently changed my network name/password and had to reconfigure my devices, I put them in discovery mode and connected to it directly (using the "Wemo" network).

It might be helpful to mention you can run `arp -a` to get the ip address used to connect.
[code]
and then in python:
[code]

Thanks again! Let me know and I can PR the README if you want!

[2021-07-14 02:43] buddingmonkey opened #274 "Unable to auto detect WeMo wall light switch"
I wrote a script to detect if my WeMo light switch is pressed, and to turn another WeMo switch. It's been working fine until a week or two ago. Here is a snippet of the code I wrote:

[code]

The code no longer detects my wall switch (Vanity)

Even using the debug mode produces the following output:

[code]

[2021-07-14 11:02] onlyoneme opened #275 "Wemo plugs keep reconnecting to the network"
I'm not sure if my issue is related to the library or to the home assistant integration. When home assistant is running with wemo integration enabled all my wemo smart plugs keep reconnecting to the network constantly every few minutes. This doesn't happen when my HA is off. Logs don't seem to be helpful for me:

[2021-07-14 11:58] onlyoneme commented on #275
I've seen similar issue described here:

[https://github.com/home-assistant/core/issues/47965](url)

My wemo plugs don't try to connect to my dockerized HA on port 8989. I've made a connectivity test from other device in the same VLAN as wemos, and connection can be established. Maybe passed CALLBACK URL is incorrect?

[2021-07-14 15:03] esev commented on #274
Just to help us debug, can you still control the 'Vanity' device from the WeMo mobile app?

[2021-07-14 15:08] esev commented on #275
Thanks for troubleshooting this further!

I agree. Maybe the CALLBACK URL is incorrect for the subnet, or possibly the WeMo devices will not initiate those subscription requests when the CALLBACK URL is on a different subnet from the device.

[2021-07-14 15:09] buddingmonkey commented on #274
Yes. It works on the iOS app.

[2021-07-14 15:17] onlyoneme commented on #275
What can be done then? Is there any easy way for me to check the passed url?

I can live without subscriptions, simple local polling is enough. But those frequent disconnections disrupt my automations. It also makes voice controlling via Google Assistant very unpredictable.

[2021-07-14 15:37] onlyoneme commented on #275
Another example of errors I get:

Source: /usr/local/lib/python3.9/site-packages/pywemo/ouimeaux_device/api/service.py:210
First occurred: 14:01:11 (8 occurrences)
Last logged: 17:17:48
Error communicating with Showcase Light Plug at 192.168.205.63:49153, HTTPNotOkException('Received status 500 for http://192.168.205.63:49153/upnp/control/basicevent1') retry 0
Error communicating with Showcase Lig

[2021-07-14 15:43] esev commented on #275
In Home Assistant, the subscriptions impact the frequency of the local polling. As long as the subscription is active then local polling doesn't happen. This was a feature added in [2021.3.0](https://github.com/home-assistant/core/pull/46806) to help improve connectivity for devices that don't have a solid WiFI connection (https://github.com/home-assistant/core/issues/45904).

I don't believe ther

[2021-07-14 15:45] esev commented on #275
When did these error messages begin (all of them, not just the HTTPNotOkException)? Was there a particular version of Home Assistant where they started happening and a version where they weren't happening?

[2021-07-14 15:51] esev commented on #275
Just as a debugging measure, can you ping the devices for several minutes. Is there any packet loss?

[2021-07-14 16:02] onlyoneme commented on #275
As I said at the beginning my HA makes all wemos plugs disconnecting frequently from the network. I ping them every minute using Zabbix and I can see plenty of packet loss. This doesn't happen when HA is off.

Those issues started around month ago. I do not upgrade my HA frequently, it's possible I've upgraded quite old version that time. Unfortunately I cannot be more precise because similar time

[2021-07-14 16:19] esev commented on #275
Ah! Thanks for clarifying. I think the increased network traffic from Home Assistant probably makes the connection worse.

I can look more after work tonight. For now, try to adjust the scan interval. And also configure the devices statically and disable discovery. Discovery causes a lot of network traffic and happens every 5 minutes (more frequently at startup).
https://www.home-assistant.io/inte

[2021-07-14 16:43] onlyoneme commented on #275
All those plugs are defined as static because of their separate vlan subnet. Discovery on wemo platform is already disabled.

Just started playing with scan interval, I'll let you know about results soon. Thx for your help.

[2021-07-14 17:24] onlyoneme commented on #275
I've added

because scan_interval was not accepted directly in wemo section. It didn't help. Honestly I doubt it has changed anything because state of wemos when triggered from the official app are reflected in the HA in just 10 seconds.

[2021-07-15 01:03] onlyoneme commented on #275
I've taken quite old 1.0.0b6 version of wemo and installed it for testing as a custom component. It didn't solve my issues. Errors in the log are not exactly the same but quite similar and my wemos still disconnect from the network when HA is running.

As a last resort I've enabled wemo integration on very old HA 0.96.5 installed on Pi in the same vlan as wemos. This time everything was working as

[2021-07-15 15:23] esev opened #276 "AttributeError while reading RulesDb table"
Originally reported here by @deftdawg: https://github.com/home-assistant/core/issues/52641#issuecomment-880552883

2021.7.1, I'm getting the following error which I suspect maybe related based on the relation to device rules and how the pywemo 0.6.5 fixes were relating in part to missing rules dbs and such:

[code]

[2021-07-15 19:25] deftdawg commented on #276
Don't know how to run this from hassio itself, so run from a Pi2 running octopi:

[code]

I haven't setup any long press rules on any of my wemos, attached are the `rules.db` for the devices that reported the missing attributes; each is prefixed by it's last ip octet.

[rules.db.zip](https://github.com/pywemo/pywemo/files/6825754/rules.db.zip)

The 3 devices reporting that are all the old style we

[2021-07-16 10:36] onlyoneme commented on #275
I've made some other test and now I'm pretty sure that my wemos will not accept any subscription request with the address from another subnet, even if it's a valid private network. They always disconnect on such try. I guess it's related to CallStranger vulnerability.

I think the only way to make it working with different subnets is to avoid any subscriptions at all and use polling only.

[2021-07-16 15:04] esev commented on #276
Thanks a lot for that @deftdawg. This is really helpful in understanding the failure. Here is the relevant parts of the rules.db file from `145`.

We see all of the expected tables within the database:
[code]

But what was unexpected, and not properly handled in pyWeMo are the `NULL` values in the RULEDEVICES table entries. I'm not going to include them all, but here is an example of what pyWeMo w

[2021-07-16 15:32] esev opened #277 "Error setting up entry Wemo for wemo - after 2021.7.2 update"
Originally reported here by @SCUZNUTS: https://github.com/home-assistant/core/issues/52996

rules.db file was attached in https://github.com/home-assistant/core/issues/52996#issuecomment-879608436

Decoded rules: https://github.com/home-assistant/core/issues/52996#issuecomment-879617955

[2021-07-16 17:54] deftdawg commented on #276
Glad to be of help, thanks for doing what you do. 🍻

[2021-07-21 05:40] Spectre5 commented on #271
Hi @GarlicToum - glad that you're liking pywemo!  Feel free to submit a PR regarding `arp -a` to discover the device on its local network.  I've personally always just used `pywemo.discover_devices()` with good success after connecting to the wemo's local network.

[2021-07-21 05:54] Spectre5 commented on #275
@esev, don't you run your wemo's on a separate vlan too?

[2021-07-21 05:55] Spectre5 commented on #259
alternative solution was found.

[2021-07-21 05:55] #259 closed, assigned to nobody

[2021-07-21 15:36] esev commented on #275
I do, but my Home Assistant (Docker) has interfaces on both my `IoT` and `Home` vlans. So from pyWeMo/HomeAssistant's perspective, it is on the same vlan as my WeMo devices.

[2021-07-21 15:56] onlyoneme commented on #275
Maybe it would be worth considering to add a parameter which avoids any subscription requests across subnets and forces local pulls only. I can see it works such way with Tasmota's devices running with wemo emulation enabled, which don't subsrcibe properly and return 404 on subscription requests. Local pulls work fine though even between different subnets.

[2021-07-21 16:00] esev commented on #275
I like this idea. We can probably expose something like a `can_subscribe` method in pyWeMo that checks if the device is on the same subnet. Home Assistant, and other clients, can use this method to check before adding a subscription for a device.

[2021-07-21 16:08] onlyoneme commented on #275
Yes. I think it would be still wise to add the per device parameter in HA in case of devices which do not follow current Belkin's behavior and allow subscriptions between subnets (I just realized we do not discuss on HA's github...).

[2021-07-21 16:22] esev commented on #275
Adding per-device parameters in Home Assistant seems like the best route. We can set the parameter default values based on what works for most Belkin devices. And folks can override those settings when it makes sense for their specific device.

I tried to break out individual devices so they each have their own config entry before, but was told that wasn't recommended (https://github.com/home-assi

[2021-07-24 14:41] GarlicToum commented on #271
Yeah, for some reason the `discover_devices` didn't work for me. Probably something to do with my laptop wifi card or something. PR created!

[2021-07-28 21:06] balloob opened #281 "Log less on "info" level"
PyWemo subscribe logs every incoming message as "info". When you have a wemo insight, this results in a INFO log message every second. Could this be lowered to debug?

[2021-07-28 21:15] esev commented on #281
Good call! Yes, I'll take care of that.

[Unrelated: I'm also working on a PR for the DataUpdateCoordinator in HA.]

[2021-07-28 21:26] #281 closed, assigned to esev

[2021-07-28 22:21] #271 closed, assigned to nobody

[2021-07-29 04:26] #276 closed, assigned to nobody

[2021-08-19 08:02] emilic14 opened #292 "Issues detecting Wemo devices"
Hello, I've been struggling for the last few days trying to get my Wemo devices detected/installed in home assistant...
So I've been playing around trying to figure it out and now I give up and am I looking for help in the community ^^ because I think I have a bug here...

Running pywemo 0.6.7

when trying  "devices = pywemo.discover_devices()"
I get :

[code]

I've tried resetting my Wemo devices

[2021-08-19 08:36] emilic14 commented on #292
for info, my setup of one of my wemo is as follows  :

[code]

[2021-08-19 14:01] esev commented on #292
Hi @emilic14,

I may have seen this (or something similar) before. https://github.com/home-assistant/core/issues/53850

Is it possible you have version of libxml2 that is incompatible with the lxml package?
https://bugs.launchpad.net/lxml/+bug/1928795

[code]

[2021-08-19 15:09] emilic14 commented on #292
Thank you!

So i've got :

[code]

Seems that v 2.9.10 is not available for Termux, doing a request there...

[2021-08-19 15:42] esev commented on #292
You're welcome. If it helps, I added a simple test case in https://github.com/linuxserver/docker-homeassistant/issues/17. That can be used by the Termux folks to verify the fix.

[2021-08-25 05:54] joshuakohut77 commented on #275
Just following up to see if there has been any updates or solutions to this? I am having the same problems that OP was describing.

[2021-08-25 17:09] esev commented on #275
Hi @joshuakohut77,

Are you also using Home Assistant? Are you also seeing a lot of packet loss when you ping the device?

For @onlyoneme and anyone else who is interested in this bug: If I were to add per-device configuration options for wemo devices in Home Assistant, what options would you like to see added? What would help to resolve this issue for you?

Let's collect a list of options here, a

[2021-08-25 17:28] joshuakohut77 commented on #275
Hi @esev,
I am using Home Assistant through docker which is on a separate VLAN than my Wemo devices. I only allow ports 8989, 49152, 49153, and 49153 for the wemos. I don't see any other ports being called.
I suspect I am seeing some packet loss. With current firewall rules I can't ping the device but frequently I will see a wemo device become unavailable in Home Assistant for couple seconds befor

[2021-08-25 17:58] esev commented on #275
@joshuakohut77 There are a few other ports that could be used, but the ones you listed are indeed the most common.
Here's the list that pyWeMo uses:
https://github.com/pywemo/pywemo/blob/2ef78e015476f5e983c1f39eefa3f274a4685bdd/pywemo/ouimeaux_device/__init__.py#L28

I think one Home Assistant per-device config option that would help you is an option to disable the subscriptions, since we now know

[2021-09-19 20:02] joshuakohut77 commented on #275
I truly appreciate all you do so I don't want to seem impatient, but has there been any updates to the progress on this issue?

[2021-09-19 20:18] sullivanmj commented on #151
I thought about this project the other day and realized that I had left this issue just dangling. I hate to renege on offering to do something like this, but I don't have the time and don't expect that I will any time soon. Maybe someday I'll find it :)

[2021-09-19 20:18] #151 closed, assigned to sullivanmj

[2021-09-25 16:28] esev commented on #275
I haven't had a chance to work on per-device configuration options yet. If you'd like to disable the subscriptions, and see if that improves things; comment out, or remove, these three lines in the wemo component within Home Assistant.
https://github.com/home-assistant/core/blob/fabf5204be374dd80c86af92b6076df063ac9a12/homeassistant/components/wemo/wemo_device.py#L146-L148

Having feedback about w

[2021-09-26 16:56] joshuakohut77 commented on #275
Okay I have been running this since yesterday afternoon. I no longer get consistent error logs as before. The device appear more responsive and turn on/off quicker but that could just be me wanting to see success. I have not visibly seen any devices become unavailable in home-assistant however when it happened before it would only last for a few seconds so unless I was watching, I wouldn't notice.

[2021-09-28 00:26] esev commented on #275
Thanks for testing. This sounds very promising.

The first set of logs look related to the number of network interfaces. Looks like you have quite a few. pyWeMo is trying to listen on all of them in order to respond to WeMo devices on the network. It's probably okay to ignore those logs. However, assuming this is Linux, you can try increasing the max multicast group memberships to make those logs

[2021-09-29 01:19] joshuakohut77 commented on #275
Day two and everything is still great. Have not noticed any drop outs and the switches still seem much quicker to toggle. I think a single setting to disable subscriptions would be sufficient for this problem.
Just wanted to quickly respond to the other comments you made. My max multicast group was set to 20 and I only have 14 devices. I increased it to 25 but still see the logs, but as you said i

[2021-09-30 08:19] tknz commented on #275
What about NAT the request back via the firewall interface on the same subnet? I was about to try this out now... would need the callback URL to reference the firewall interface of the subnet rather than the address of the HA docker container because looking at a quick pcap the wemo doesn't seem to try connect if it's on another subnet. With this approach then the firewall can NAT it to the real a

[2021-09-30 21:58] joshuakohut77 commented on #275
Did you have any luck with this? Sounds like a lot of effort when disabling the subscriptions seems to be fine for me at least. I’m not sure what benefit this would add in the end other than letting the pyWemo to work without any changes.

[2021-10-03 03:22] esev commented on #275
@joshuakohut77 I've put together a PR for home assistant to add a configuration option to disable the subscriptions for all devices. home-assistant/core#56972

@tknz I think that would work. You'd need to:

1. Only use DNAT when configuring the firewall to direct the subscription notifications back to the container. This is required because pyWeMo differentiates between the devices by their IP add

[2021-10-03 06:38] tknz commented on #275
Yes got it going. Only real benefit is instant update when the button is pressed on the device. HA is delayed with other devices that are similar like Shelly unless COIOT (I use this) update or MQTT is used e.t.c

[2021-10-03 16:05] esev commented on #275
There are a few other side-effects too. The WeMo motion sensor, and sensor on the WeMo Maker don't work well with HA when the subscriptions are disabled. The only time these devices will work properly, when subscriptions are disabled, is when HA polls at the exact same time as the motion occurs. The WeMo Insight energy monitors also don't display the current energy values as quickly when subscript

[2021-10-03 17:01] Spectre5 commented on #275
This thread is worthy of another wiki page that describes options for WeMo's on a different subnet.  Could document the option to disable subscriptions (when/if added to pywemo) and what the caveats are to that.  Of if you want to keep everything working well with subscriotions, the other two options are the extra interface like @esev does with Docker or the idea @tknz has implemented with DNAT.

[2021-10-03 20:38] nikadaika commented on #275
Thanks, guys. It was driving me crazy.
Seems to work fine as a workaround while we wait for https://github.com/home-assistant/core/pull/56972

[2021-10-05 02:37] joshuakohut77 commented on #275
Thanks for this, I didn't realize how easy/simple this would be and it works great too. Would have saved me a lot of time configuring dozens of firewall rules to allow comms across vlans.

[2021-10-05 22:56] esev commented on #275
Thanks for the feedback @joshuakohut77. It's great to hear that was helpful for you too.

Good call @Spectre5! I started https://github.com/pywemo/pywemo/wiki/Networking. I'll start a Home Assistant docs PR to have the wemo page link to this also.

Anyone with other tips/tricks for getting pyWeMo to work across subnets, please feel free to contribute your solutions also!

[2021-10-06 01:38] kebel87 commented on #275
Thanks everyone for sorting this out, it has been bugging me for a while.

I am kind of noob with networking, but if anyone is interested to guide me I could try to make it work with HAOS running as a VM on a proxmox node with 2 NICs. HAOS is on main LAN, wemos are on IoT LAN.

I'd help documenting the steps and everything.

[2021-11-15 01:29] esev opened #296 "Support Long Press on Dimmer V2 (WDS060)"
The WeMo Dimmer V2 is using the newer RTOS system. It does not expose the same methods (`FetchRules`) from the rules service that we had previously used to enable long press support.

[code]

The `GetRulesDBPath` returns a bogus URL and `http://<ip>:<port>/rules.db` returns a 404 http error.
[code]
See also: https://github.com/home-assistant/core/issues/59654

[2021-11-15 01:57] esev commented on #296
I tried uploading a new rules file through `StoreRules`, but that failed.

[code]

[2021-12-26 22:12] esev opened #315 "Enable mypy type checks and PEP 561 support"
I'd like to have support for mypy type checking in pyWeMo. That'll ensure the types used internally and with pyWeMo dependents/dependencies are consistent. It'll be another verification that bumping the version of a pyWeMo dependency is safe too.

I started adding annotations in the Home Assistant wemo component, but received some [feedback](https://github.com/home-assistant/core/pull/62157#issuec

[2021-12-26 23:15] esev opened #317 "Thoughts about a version 1.0.0 release?"
After #293 I think pyWeMo now has support for all WeMo UPnP-based devices. What do folks think about making the next release a version 1.0.0 release?

Over time, we've been adding a number of deprecation warnings to the code. With semantic versioning it is typically okay to make non-backward compatible changes when changing the major release number. This would give us an opportunity to remove the

[2021-12-27 02:27] esev opened #323 "Use dataclasses for db_orm & rules_db"
It's not possible to run pylint checks on the db_orm & rules.db files or have mypy perform type checking. Using dataclasses for the table types should improve this.

[2021-12-27 03:02] esev commented on #317
Looking at pywemo/ssdp.py, I think we could probably deprecate & remove pywemo.ssdp.SSDP & a few properties from pywemo.ssdp.UPNPEntry (expired, is_expired, description, match_device_description). None of those are used within pyWeMo.

[2021-12-28 01:56] Spectre5 commented on #317
Makes sense, maybe do this after type hints are finished being incorporated (which is probably your plan already)?

That said, although not technically correct per semantic versioning, I do see libraries add deprecation with minor releases.  Typically the deprecation message will then indicate what minor release will drop the feature/functionality.  For example, I know matplotlib does has done thi

[2021-12-30 17:19] esev opened #335 "Add integration test for the CrockPot device"
Integration tests make it easier to maintain pyWeMo, helping to ensure updates to the code function as expected. It'd be great if we could have an integration test for the CrockPot device.

There is a test file below. If someone has a WeMo CrockPot device, these are the steps needed to add the test.

1. Clone the pywemo git repository locally.
2. Add a new test file named `tests/ouimeaux_device/te

[2021-12-30 17:21] esev commented on #335
@alexanv1 is this something you could help with?

[2022-01-03 23:23] esev commented on #270
@pfletch101 I was poking around for this data today and think I found what you're looking for. My Insight device has a sqlite3 database that you can download directly from the device.

[code]
[Insight.txt](https://github.com/pywemo/pywemo/files/7804507/Insight.txt)

This sqlite3 database appears to store 45 days worth of daily and 30 minute snapshots. It also has the last 500 state changes. This i

[2022-01-04 00:01] pfletch101 commented on #270
That looks helpful! At the risk of appearing stupid, what port number should be used for the wget request - obviously, _ip_ is the Insight's IP address.

[2022-01-04 00:07] esev commented on #270
It's usually one of these.
https://github.com/pywemo/pywemo/blob/5613bf558f1eda1473991fa72ddf25bc83286872/pywemo/ouimeaux_device/__init__.py#L38

This will return the port.

[code]

[2022-01-04 00:12] pfletch101 commented on #270
Thanks!

[2022-01-09 18:23] #315 closed, assigned to esev

[2022-02-07 21:38] dkulla01 opened #344 "ModuleNotFoundError: No Module named six"
Hi!

I'm trying to use pywemo for a little project of mine, I'm running into an error with`import pywemo`.

to minimally reproduce the error:

[code]
this spits out the following error:
[code]

it looks like it's trying to import the `six` library [on this line](https://github.com/pywemo/pywemo/blob/0ad58a9e7874d05787e3615f922f18ee38b7f919/pywemo/ouimeaux_device/api/xsd/service.py#L26).

doing a `

[2022-02-07 21:47] esev commented on #344
Thanks for reporting!

I agree with you. `six` should either be in our [direct dependencies](https://github.com/pywemo/pywemo/blob/0ad58a9e7874d05787e3615f922f18ee38b7f919/pyproject.toml#L19) so that pip installs it, or we should look into removing it from the code. I'll try to have a fix tonight.

[2022-02-08 04:43] #344 closed, assigned to nobody

[2022-02-08 05:09] esev commented on #344
Hi @dkulla01, this should be fixed now. A new version 0.8.0 release should be in pypi now. Please give that a try and let me know if there are any more issues.

[2022-04-12 20:56] jfroy commented on #296
I just got a bunch of the V2 dimmers and I'm really bummed I can't program a long press. I'm not sure if you've made progress on this at all, or how to go about helping. I imagine capturing traffic going to a dimmer might help, but I also imagine it's going to be https coming from a cloud controller...

[2022-06-08 13:41] jherby2k commented on #275
Can you help me out with this? I've:

1) Set up a NAT rule from the wemo IP to HA on my router (UDMP) via `iptables -t nat -A POSTROUTING -s 192.168.2.121/32 -d 192.168.1.2/32 -j MASQUERADE` (where 192.168.2.121 is the Wemo, and 192.168.1.2 is HA)
2) Opened up port 8989 between VLANs
3) changed line 162 in subscribe.py to `host='192.168.2.1',` (the Wemo's vlan gateway)

but i'm still seeing resubs

[2022-06-08 13:59] onlyoneme commented on #275
@jherby2k
Are you sure your iptable rule is correct? Personally I use DNAT not SNAT here.

[2022-06-08 14:28] onlyoneme commented on #275
@jherby2k
Let me clarify what you need to achieve.
From 192.168.1.2 you instruct 192.168.2.121 to publish any state changes on address 192.168.2.1:8989. But 192.168.2.1 is your router port address so you need to tell your router how to translate your destination address. That's why you need a DNAT rule with source = 192.168.2.121, destination = 192.168.2.1:8989 and destination translation = 192.16

[2022-06-08 14:29] jherby2k commented on #275
So, something like this?

`iptables -t nat -A PREROUTING -s 192.168.2.121/32 -d 192.168.2.1/32 -j DNAT --to-destination 192.168.1.2` ?

also instead of editing subscribe.py, i set `pywemo_callback_address = '192.168.2.1' on line 75 in util.py.

[2022-06-08 14:33] onlyoneme commented on #275
@jherby2k
When you use pywemo >= 0.9.0 you just need to define global variable PYWEMO_CALLBACK_ADDRESS using callback ip with the port, ie. 192.168.2.1:8989. No longer need to edit files directly.

--to-destination in iptables should point to 192.168.1.2

[2022-06-08 14:41] jherby2k commented on #275
Right, sorry - that was a typo. So, Python neophyte here - where can i define PYWEMO_CALLBACK_ADDRESS? in const.py? or can i define it somewhere else  and not have to hack the wemo integration at all via custom_components?

[2022-06-08 14:48] onlyoneme commented on #275
@jherby2k
Python script uses os.getenv() to get PYWEMO_CALLBACK_ADDRESS, so I guess you need to set env variable on the host where you have Home Assistant (can be dockerized as well). Or you can overwrite

callback_address = get_callback_address(
                host=self.device.host,
                port=self.callback_port,
            )

in subscribe.py with

callback_address = '192.168.2.1:8989

[2022-06-08 15:34] esev commented on #275
FYI The `PYWEMO_CALLBACK_ADDRESS` hasn't been released in Home Assistant yet. It'll likely be in the next 2022.6 bugfix release though. It was added just yesterday https://github.com/home-assistant/core/pull/73186

[2022-06-08 15:37] esev commented on #275
Oh! It was actually released yesterday too. That was fast. https://github.com/home-assistant/core/releases/tag/2022.6.4

[2022-06-08 15:55] jherby2k commented on #275
OK, so this is where i'm at:

Running 2022.6.4 already. I hardcoded pywemo_callback_address = '192.168.2.1:8989' on line 75 of util.py, rather than setting PYWEMO_CALLBACK_ADDRESS somehow inside the HA container. Either way i need to make changes inside the container, right? This seems like a better spot than subscribe.py.

then set this on my router:

`iptables -t nat -A PREROUTING -s 192.168.2.1

[2022-06-08 16:09] onlyoneme commented on #275
@jherby2k
No errors in HA log means that wemo device has accepted subscription instructions. Publishing can be still not working because of incorrect callback (although I believe you've edited util.py successfully) or because of still wrong netfilter setup - incorrect or missing iptable rules. You should definitely see a traffic on 8989 if everything is fine.

[2022-06-08 16:44] jherby2k commented on #275
Had a typo in my iptables command (the above is fine)... working great now! I've added the following section: https://github.com/pywemo/pywemo/wiki/Networking#tips-for-running-on-a-different-lan

it would be great if we could set PYWEMO_CALLBACK_ADDRESS via the Home Assistant integration.

[2022-06-08 17:15] onlyoneme commented on #275
@jherby2k
I believe you can do that in HA using automations and shell commands.

[2022-06-17 04:11] jfroy opened #350 "Implement UNSUBSCRIBE for compatibility"
This is probably low priority, but I wonder if the WeMo firmware will slightly misbehave by receiving 501 for UNSUBSCRIBE commands.

`2689	1171.134476	192.168.1.121	192.168.1.178	HTTP	236	UNSUBSCRIBE /upnp/event/basicevent1 HTTP/1.1`

[code]

`2692	1171.137700	192.168.1.178	192.168.1.121	HTTP	570	HTTP/1.0 501 Unsupported method ('UNSUBSCRIBE')  (text/html)`

I'm perfectly happy with closing this a

[2022-06-17 04:27] jfroy opened #351 "Spurious ON-OFF NOTIFY messages"
My home has 2 3-way Wemo light switches. They are currently registered to my home's HomeKit's controller, as well as my home's HASS running with HASS OS on a RPi 4. My router (a UDM Pro) has miniupnpd disabled.

At interval, sometimes frequent, sometimes not, those switches toggle from OFF to ON and back to OFF. The attached packet capture has one such spurious NOTIFY, followed by another NOTIFY t

[2022-06-24 21:56] sclem commented on #275
If anyone stumbles across this thread dealing with a separate iot vlan for wemos and is running HA in k8s, here is how I was able to configure PYWEMO_CALLBACK_ADDRESS. Pretty much the same solution as iptables, except k8s handles the iptables rules.

My iot vlan is `192.168.4.0/24`. I am using k3s with metallb. My k3s host has an ip address in the iot vlan already.

First add an available ip in th

[2022-07-20 06:26] CoderBrad opened #353 "Long Press Issue for old firmware switches"
I have two Wemo lightswitches (uuid:Lightswitch-1_0) on firmware WeMo_WW_2.00.2263.PVT. These are undetectable in the iOS app after setting up on my network but can be found on the network and respond to setup.xml requests. They had worked with pywemo at one time and, upon further review, it looks like the issue is that 0.7.0 changed these switches to support long press but the firmware my switche

[2022-07-20 07:58] esev commented on #353
Hi @CoderBrad, thanks for the report. When you have a moment, could you paste in the stack trace you're getting when it fails?

[2022-07-23 04:32] CoderBrad commented on #353
I attached logging and have uploaded the results of running with debug=true to https://pastebin.com/dexyb4rp

[2022-07-23 05:50] Spectre5 commented on #353
Looks like @CoderBrad's assessment is spot on: `MissingServiceError('Missing required services/methods: rules(StoreRules, FetchRules)')`, which comes from the `LongPressMixin` required services.  If a switch doesn't have it, then indeed it should be fine to use a regular light switch without that mixin.  Just depends on whether @esev wants to handle it with the try/except as suggested or more expl

[2022-07-23 06:35] esev commented on #353
Thank you @CoderBrad!

I'm with you @Spectre5, catching the `MissingServiceError` and going with @CoderBrad's try/except suggestion seems appropriate in this case.

One minor downside is that the number of requests to fetch all the service xml files doubles if we try both.

I was also thinking about trying to parse the firmware version to try to find where support for long press started, but I thi

[2022-07-23 06:45] Spectre5 commented on #351
I took a quick look at this.  It looks like Home Assistant is 192.168.1.178 in this capture and then HomeKit is 192.168.1.238.

The first thing I notice, which is likely unrelated, is that pywemo does not implement the UNSUBSCRIBE method in its `RequestHandler` class.  I see a few instances where the switch is asking pywemo to unsubscribe and subscribe, which is similar to what pywemo does.  I dou

[2022-07-23 06:52] Spectre5 commented on #353
Ya, I figured it would be hard to find the firmware version where this changed, but I'd considered that idea too.  But I think a robust handling on whether a device has those two rules may be better.

Good point about doubling the requests to get the services.  Another option may be to make those two rules "optional" instead of required and then have the device activate/deactive that functionality

[2022-07-23 06:56] Spectre5 commented on #350
I agree that we should implement it.

[2022-07-23 07:02] Spectre5 commented on #296
@jfroy did you try capturing this data?  My guess is also that it is https though :(

In the past I'd used an old version of the Android WeMo app in a VM from before they stupidly switched to cloud based.  But I suspect that it won't help here as this dimmer is probably too new to be supported on that older app.  But it may be worth checking anyway (maybe there were other RTOS devices at that time

[2022-07-23 07:15] Spectre5 commented on #292
Is this still an issue @emilic14 or has a newer version of lxml fixed it?

[2022-07-23 07:18] Spectre5 commented on #277
Was this fixed - or still only the temporary fix?

[2022-07-23 15:26] jfroy commented on #351
Both of them show this issue. Both of them are 3 way switches in a single pole configuration (the red wire is not connected, per instructions). I have a third 3 way switch in a 3 way (aka 2 pole) configuration and it does not exhibit this behavior. I'm therefore willing to conclude the issue is with using a 3 way in a single pole configuration. Perhaps the unconnected wire is "floating" and causin

[2022-07-23 15:28] jfroy commented on #296
I have not tried, no. This is not high priority for me right now.

[2022-07-24 17:36] emilic14 commented on #292
Hello, Sorry as it was not working when I was needing it I changed how I was handling my project without requiring lxml or termux to bypass the issue.
So I cant really answer your question.

[2022-07-29 12:11] CoderBrad commented on #353
Alternatively could short-term caching be implemented on the urllib3 calls to handle the second calls? There would still be some processing overhead but I'm guessing that would be minimal compared to the calls to the switch.

[2022-08-07 15:40] esev commented on #277
Still just a temporary fix.

[2022-08-07 16:08] esev commented on #277
I still plan to fix it. But I'm waiting for https://github.com/home-assistant/core/pull/56972 first, so there is an easy way for folks to disable it if there are further breakages.

[2022-08-13 20:43] roblandry commented on #335
I know this has been a while, but i have the requested data.

[tests.ouimeaux_device.test_crockpot.zip](https://github.com/pywemo/pywemo/files/9332148/tests.ouimeaux_device.test_crockpot.zip)

[2022-08-19 15:47] #335 closed, assigned to nobody

[2022-09-18 15:14] starsoccer commented on #275
Are there any plans to add better logging or debugging to the subscription errors? I attempted to follow this thread and the wiki guide but my HA instance continues to receive a 400 error, "400 Client Error: Bad Request for url".

Ive checked the env variable is set by using the HA terminal & ssh addon to verify its set with the IP and port yet it continues to error. I also disabled my vlan blocki

[2022-09-23 16:45] runjmc opened #355 "pywemo heater support"
Is it possible to get wemo holmes heater support?

[2022-09-25 18:39] esev commented on #355
It would be great to have it supported. We'd need to have access to one though. How comfortable are you with Python?

[2022-09-25 21:11] runjmc commented on #355
I have a wemo holmes heater here.  Im ok with Python.  Let me know what you need.